
.arrow_to_top a
{
  position         : fixed;
  right            : 2%;
  bottom           : 2%;
  color            : white;
  /*need this part for the setup*/
  background-color : var(--color_background_arrow_go_top);
  padding          : 3%;
  border-radius    : 10px;
  box-shadow       : 2px 1px 1px 1px, 2px 1px 1px 1px black;
}
