.timeline
{
    margin-top : 30px;
    /*margin-right  : 100px;*/
    padding    : 0;
}


.timeline .page-heading
{
    /*display: none;*/
    /*text-align  : center;*/
    font-weight               : bolder;
    font-variant-caps         : all-small-caps;
    display                   : flex;
    font-size                 : 30px;
    color                     : black;
    position                  : fixed;
    left                      : 5px;
    top                       : 1%;
    writing-mode              : vertical-lr;
    /*text-orientation          : revert;*/
    text-orientation          : upright;
    /*text-decoration: underline;*/
    /*text-decoration-color: white;*/
    text-decoration-thickness : 3px;
    border                    : 2px none var(--color_post_shadow);
    border-left-style         : solid;
    z-index                   : -1;
    height                    : 100%;
}

/*.timeline .page-heading:after*/
/*{*/
/*    content  : ": last to first";*/
/*    position : relative;*/
/*    top      : 1%;*/
/*}*/

.timeline .page-content
{
    padding : 0;
}

.page-content li
{
    list-style : none;

}

.timeline .post
{
    /* spacing between posts */
    margin-bottom : 20vh;
    margin-top    : 0;
    margin-right  : 0;
    margin-left   : 0;
}

.timeline .post-list
{
    /*margin-top   : 30px;*/
    /*margin-top   : 0!important;*/
    margin-left  : 10px;
    margin-right : 4%;
    padding-left : 0;

}

.timeline .post-list .post
{
    /*margin-left  : 1%;*/
    padding-left : 0;
}

.timeline .post-content li
{
    list-style : square;
    margin-top : 2%;
}


.right
{
    /*margin-top : 50px;*/
}

/* ------------------ INDEX --------------------------- */

/*noinspection CssUnknownProperty*/
#side_index
{
    left            : 0;
    margin-top      : -30px;
    margin-bottom   : 30px;

    /*background-color : var(--color_background_side_index);*/
    color           : var(--color_text_side_index);
    /*margin-right     : 40px;  */
    /*margin-left      : 40px;*/
    padding         : 0;
    position        : fixed;
    width           : inherit;

    /* scrolling */
    overflow-y      : scroll;
    height          : 99%;
    /*  firefox */
    scrollbar-width : none;
    z-index         : 4;
}

#side_index::-webkit-scrollbar
{
    /* untested */
    display : none;
}

#side_index::-webkit-scrollbar
{
    /* untested */
    display : none;
}

#side_index .side_index_content
{
    /*padding-bottom : 10%;*/
    /*margin-left: 5%;*/
}


#side_index .side_index_content ul
{
    /*position         : relative;*/
    /*left             : -30px;*/
    padding-left : 50px;
    /*padding-right : 10%;*/
}

#side_index .side_index_content li
{
    margin-top    : 8px;
    margin-bottom : 8px;
    margin-left   : 0;
    margin-right  : 10px;
    padding       : 5px;
    display       : flex;

    border-radius : 15px;
    transition    : all .2s ease-in-out;
    border        : 2px solid var(--color_post_shadow);
    box-shadow    : 1px 1px 1px 1px var(--color_post_shadow);
}


/* buttons */
#side_index .side_index_content a
{
    color           : white;
    padding         : 15px;
    margin-right    : 70px;
    text-decoration : none;
    transition      : all .2s ease-in-out;
    width           : 100%;
}

#side_index .side_index_content li:hover
{
    transform  : scale(.97) !important;
    /*background-color : white;*/
    /*color            : black;            */
    box-shadow : 1px 1px 1px 1px var(--color_post_shadow);
}

/* responsive tweak */

@media screen and (max-width : 576px)
{
    #timeline
    {
        padding : 0;
    }

    #side_index
    {
        position      : relative;
        margin-right  : 0;
        padding-left  : 0;
        padding-right : 0;
        margin-top    : 0;
    }

    #side_index .side_index_content
    {
        position : relative;
    }

    #side_index .side_index_content ul
    {
        position : relative;
    }

    .timeline .post-list
    {
        margin-left : 10%;

    }

    .timeline .post
    {
        margin-bottom : 2vh;

    }

    .timeline .page-heading
    {
        z-index : 1;
    }
}


