.timeline
{
    margin-top : 30px;
    /*margin-right  : 100px;*/
    padding    : 0;
}


.timeline .page-heading
{
    /*display: none;*/
    /*text-align  : center;*/
    font-weight               : bolder;
    font-variant-caps: all-small-caps;
    display: flex;
    font-size: 30px;
    color                     : black;
    position                  : fixed;
    left                      : 5px;
    top                       : 1%;
    writing-mode              : vertical-lr;
    /*text-orientation          : revert;*/
    text-orientation          : upright;
    /*text-decoration: underline;*/
    /*text-decoration-color: white;*/
    text-decoration-thickness : 3px;
    border                    : 2px none black;
    border-left-style         : solid;
    z-index: -1;
    height                    : 100%;
}

/*.timeline .page-heading:after*/
/*{*/
/*    content  : ": last to first";*/
/*    position : relative;*/
/*    top      : 1%;*/
/*}*/

.timeline .page-content
{
    padding : 0;
}

.page-content li
{
    list-style : none;

}

.timeline .post
{
    margin-bottom: 27vh;
}

.timeline .post-list
{
    margin-top   : 30px;
    margin-left  : 0;
    padding-left : 0;
}

.timeline .post-list .post
{
    margin-left  : 1%;
    padding-left : 0;
}

.timeline .post-content li
{
    list-style : square;
    margin-top : 2%;
}


.right
{
    /*margin-top : 50px;*/
}

/* ------------------ INDEX --------------------------- */

#side_index
{
    left          : 0;
    margin-bottom : 30px;
    margin-top    : -30px;

    /*background-color : var(--color_background_side_index);*/
    color         : var(--color_text_side_index);
    /*margin-right     : 40px;  */
    /*margin-left      : 40px;*/
    padding       : 0;
    position      : fixed;
    width         : inherit;
}

/* scrolling */

#side_index
{
    overflow-y : scroll;
    height     : 99%;

}


/*noinspection CssUnknownProperty*/
#side_index
{
    /*  firefox */
    scrollbar-width : none;
}

#side_index::-webkit-scrollbar
{
    /* untested */
    display : none;
}

#side_index::-webkit-scrollbar
{
    /* untested */
    display : none;
}

#side_index .side_index_content
{
    padding : 10%;
}


#side_index .side_index_content ul
{
    /*position         : relative;*/
    /*left             : -30px;*/
    /*padding-left     : 17%;*/
    padding-right : 10%;
}

#side_index .side_index_content li
{
    margin-top    : 3%;
    margin-bottom : 3%;
    margin-left   : 0;
    display       : flex;
}


/* buttons */
#side_index .side_index_content a
{
    /*background-color : var(--color_background_post_header);*/
    /*color            : black;*/
    /*background-color : #DDD;*/
    color           : white;
    padding         : 20px;
    text-decoration : none;
    /*border-radius   : 30px;*/
    border-radius   : 15px;
    transition      : all .2s ease-in-out;
    border          : 2px solid #111;
    /*box-shadow       : 1px 3px 1px 1px var(--color_post_shadow), 1px 3px 1px 1px var(--color_post_shadow);*/
    box-shadow      : 1px 3px 1px 1px #222, 1px 3px 1px 1px #222;
    width           : 100%;
    /*font-weight     : lighter;*/

}

#side_index .side_index_content a:hover
{
    transform        : scale(.97) !important;
    background-color : white;
    /*color            : black;            */
    box-shadow       : 1px 1px 1px 1px black, 1px 1px 1px 1px black;
}

/* responsive tweak */

@media screen and (max-width : 576px)
{
    #side_index
    {
        position      : relative;
        margin-right  : 0;
        padding-left  : 0;
        padding-right : 0;
        margin-top    : 0;
    }

    #side_index .side_index_content
    {
        position : relative;
    }

    #side_index .side_index_content ul
    {
        position : relative;
    }

    .timeline .post-list
    {
        margin-left : 13%;
    }

    .timeline .page-heading
    {
        z-index: 1;
    }
}


