{%- include CONFIGURATION/ALL.liquid -%}
{%- assign array_the_html_posts_for_the_index_1693649612738133574 = ARRAY_EMPTY -%}

{%- comment -%} Initialization {%- endcomment -%}

{%- if include.from_posts -%}

	{%- if include.from_posts != "" -%}

		{%- comment -%} generating the post list {%- endcomment -%}
		{%- for post in include.from_posts -%}

			{%- comment -%} @task : make a function for this {%- endcomment -%}
			{%- comment -%} enforcing posts with post layout {%- endcomment -%}
			{%- if post.layout == "layout_post" -%}

				{%- if post.date_of_creation -%}

					{%- if post.date_of_creation != "" -%}

						{%- capture the_post_for_the_index_1693649612738133574 -%}

							{%- comment -%} color_background_1693649612738133574 {%- endcomment -%}
							{%- include as_string_the_css_class_for_the_color_background_from_date.liquid from_date=post.date_of_creation -%}
							{%- assign color_background_1693649612738133574 = return -%}
							{%- assign return = null -%}
							{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

							{%- comment -%} post_id_1693649612738133574 {%- endcomment -%}
							{%- include as_string_the_id_from_post.liquid from_post=post -%}
							{%- assign post_id_1693649612738133574 = return -%}
							{%- assign return = null -%}
							{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

							<li role="menuitem">
								{%- comment -%} I don't use `button` because overwriting the CSS is CSS-Y {%- endcomment -%}
								<a role="button" class="{{ color_background_1693649612738133574 }}" href="#{{ post_id_1693649612738133574 }}"> {{ post.title }}
								</a>
							</li>

						{%- endcapture -%}

						{%- assign array_the_html_posts_for_the_index_1693649612738133574 = array_the_html_posts_for_the_index_1693649612738133574 | push : the_post_for_the_index_1693649612738133574 -%}

					{%- endif -%}

				{%- endif -%}

			{%- endif -%}

		{%- endfor -%}

	{%- endif -%}

{%- endif -%}

{%- comment -%} return {%- endcomment -%}
{%- assign return = array_the_html_posts_for_the_index_1693649612738133574 | uniq -%}

{%- comment -%} resetting {%- endcomment -%}
{%- assign the_post_for_the_index_1693649612738133574 = null -%}
{%- assign post_id_1693649612738133574 = null -%}
{%- assign color_background_1693649612738133574 = null -%}
{%- comment -%} {%- endcomment -%}

