{%- comment -%} as_html_the_post_index_list_from_posts.liquid {%- endcomment -%}

{%- comment -%} Initialization {%- endcomment -%}

{%- assign the_post_index_list_1690556288006533672 = null -%}

{%- if include.from_posts -%}

    {%- if include.from_posts != "" -%}

        {%- comment -%} generating the post list {%- endcomment -%}
        {%- capture the_post_index_list_1690556288006533672 -%}

            {%- for post in include.from_posts -%}

                {%- comment -%} enforcing posts with post layout {%- endcomment -%}
                {%- if post.layout == "post"-%}
                    
                    {%- if post.date_of_creation -%}
                        
                        {%- if post.date_of_creation != "" -%}

                            {%- comment -%} color_background_1690556288006533672 {%- endcomment -%}
                            {%- include as_color_background_from_date.liquid from_date=post.date_of_creation -%}
                            {%- assign color_background_1690556288006533672 = return -%}
                            {%- assign return = null -%}
                            {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


                            {%- comment -%} post_id_1690556288006533672 {%- endcomment -%}
                            {%- include as_id_from_date.liquid from_date=post.date_of_creation -%}
                            {%- assign post_id_1690556288006533672 = return -%}
                            {%- assign return = null -%}
                            {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

                            <li>
                            <a class="{{ color_background_1690556288006533672 }}"
                               href="#{{ post_id_1690556288006533672 }}"> {{ post.title | escape }}</a>
                        </li>

                        {%- endif -%}
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}

        {%- endcapture -%}

    {%- endif -%}

{%- endif -%}

{%- comment -%} return {%- endcomment -%}
{%- assign return = the_post_index_list_1690556288006533672 -%}

{%- comment -%} resetting {%- endcomment -%}
{%- assign the_post_index_list_1690556288006533672 = null -%}
{%- assign post_id_1690556288006533672 = null -%}
{%- assign color_background_1690556288006533672 = null -%}
{%- comment -%} {%- endcomment -%}

