{%- comment -%}as_html_top_and_bottom_arrows_from_date_top_and_date_bottom.liquid {%- endcomment -%}

{%- comment -%} dates {%- endcomment -%}
{%- assign _date_top = include.from_date_top -%}
{%- assign _date_bottom = include.from_date_bottom -%}
{%- assign _html = 'null' -%}

{%- comment -%} ids {%- endcomment -%}
{%- capture _top_id -%}
    {%- include as_id_from_date.liquid from_date_top=_date_top -%}
{%- endcapture -%}

{%- capture _bottom_id -%}
    {%- include as_id_from_date.liquid from_date_bottom=_date_bottom -%}
{%- endcapture -%}

{%- if _top_id != "null" and _bottom_id != "null" -%}
    {%- capture _html -%}
        <span class="arrow_to_page_top">
                <a class="button" href="#{{ _top_id }}"> &UpArrowBar; </a>
        </span>
        <span class="arrow_to_page_bottom">
                 <a class="button" href="#{{ _bottom_id }}"> &DownArrowBar; </a>
        </span>
    {%- endcapture -%}
{%- endif -%}

{%- comment -%} return {%- endcomment -%}
{%- capture _return -%}
    {%- include return_from.liquid from=_html -%}
{%- endcapture -%}
{{ _return }}
{%- assign _return = null -%}

{%- comment -%} resetting variables and stripping last line {%- endcomment -%}
{%- assign _date_top = null -%}
{%- assign _date_bottom = null -%}
{%- assign _top_id = null -%}
{%- assign _bottom_id = null -%}
{%- assign _html = null -%}