{%- comment -%} as_html_the_post_list_with_url_from_posts.liquid {%- endcomment -%}
{%- assign _html_the_post_list_with_url_1690556572317772128 = null -%}

{%- comment -%} Liquid does not have a `is null` {%- endcomment -%}
{%- if include.from_posts -%}

    {%- comment -%} Liquid does not have a `is null` {%- endcomment -%}
    {%- if include.from_posts != "" -%}

        {%- comment -%} main value {%- endcomment -%}
        {%- capture _html_the_post_list_with_url_1690556572317772128 %}
            <ul>
                {% comment %} generating the post list {% endcomment %}

                {%- for post in include.from_posts -%}
                    <li>
                        {%- comment -%} handling empty strings {%- endcomment -%}

                        <a href="{{ post.url | relative_url }}"> {{ post.title }}</a>
                        {% comment %}{% endcomment %}
                    </li>
                    {% comment %}{% endcomment %}
                {%- endfor -%}
        </ul>

        {%- endcapture -%}

    {%- endif -%}

{%- endif -%}


{%- comment -%} return {%- endcomment -%}
{%- assign return = _html_the_post_list_with_url_1690556572317772128 -%}

{%- comment -%} resetting {%- endcomment -%}
{%- assign _html_the_post_list_with_url_1690556572317772128 = null -%}

