{%- comment -%} as_html_the_tag_from_word.liquid {%- endcomment -%}

{%- comment -%} tag_1691339278938925411 {%- endcomment -%}
{%- include as_tag_from_word.liquid from_word=include.from_word -%}
{%- assign tag_1691339278938925411 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- capture return -%}
    {%- assign word = include.from_word | replace: "#", "" | replace : " ","_"-%}

    {%- comment -%} color_background {%- endcomment -%}
    {%- include as_color_background_from_tag.liquid from_tag=tag_1691339278938925411 -%}
    {%- assign color_background = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

    <a class="col button {{ color_background }}" style="text-decoration: none"
       href=" {{ '/tag/' | append: include.from_word | replace: "#", "" | relative_url }} "> {{ tag_1691339278938925411 }}
    </a>
{%- endcapture -%}

{%- assign color_background = null -%}
{%- assign tag_1691339278938925411 = null -%}
{%- assign word = null -%}