{%- capture return -%}

	<article class="post">

	<header >
		<h1 class="post_title">{{ page.title | escape }}</h1>
	</header>

	<div class="post_content background_color_{{ page.background_color }}">
		{{ content }}
	</div>

	</article>

{%- endcapture -%}
