{%- comment -%} as_string_the_html_tag_from_word.liquid {%- endcomment -%}

{%- comment -%} tag_1691339278938925411 {%- endcomment -%}
{%- include as_string_the_enforced_tag_from_word.liquid from_word=include.from_word -%}
{%- assign tag_1691339278938925411 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- capture return -%}

	{%- comment -%} CSS color_background {%- endcomment -%}
	{%- include as_string_the_css_class_for_the_color_background_from_tag.liquid from_tag=tag_1691339278938925411 -%}
	{%- assign color_background = return -%}
	{%- assign return = null -%}
	{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

	{%- comment -%} word {%- endcomment -%}
	{%- comment -%} this call is a bit of a waste but I don't have time to split the enforced tag function {%- endcomment -%}
	{%- include as_string_the_word_from_tag.liquid from_tag=tag_1691339278938925411 -%}
	{%- assign path_suffix_1691339278938925411 = return -%}
	{%- assign return = null -%}
	{%- comment -%} `Liquid` does not have functions {%- endcomment -%}


	<a class="col button {{ color_background }}" href=" {{ '/tag/' | append: path_suffix_1691339278938925411 | relative_url }}" role="link">
		{{ tag_1691339278938925411 }}
	</a>

{%- endcapture -%}

{%- assign color_background = null -%}
{%- assign tag_1691339278938925411 = null -%}
{%- assign path_suffix_1691339278938925411 = null -%}