{%- include CONSTANTS/ALL.liquid -%}

{%- comment -%} id {%- endcomment -%}
{%- include as_string_the_post_id_from_post.liquid from_post=include.from_post -%}
{%- assign post_id_1703036688300648989 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

{%- comment -%} id button in timeline {%- endcomment -%}
{%- capture return -%}

	{%- comment -%} 
	*** keep this like this even at PHP storm reformat risk ***
	*** else there is no spacing between the button post and the button tag ***
	{%- endcomment -%}
	{%- assign tag_url_1703036688300648989 = "/post/" | append: post_id_1703036688300648989 | relative_url -%}
	<a class="button button_open_background_color"
			{% comment %}href="{{ tag_url_1703036688300648989 }}">{{ BUTTON_POST | append: " " }}{% endcomment %}
		 href="{{ tag_url_1703036688300648989 }}">
		{{ BUTTON_POST }}
	</a>

{%- endcapture -%}

{% comment %} resetting {% endcomment %}
{%- assign tag_url_1703036688300648989 = null -%}
{%- assign post_id_1703036688300648989 = null -%}