{%- capture return -%}

	<div id="links" class="row">

		<a id="twitter" class="col button" href="https://twitter.com/jeremyvlegros" target="_blank">
				Twitter
		</a>

		<a id="tumblr" class="col button" href="https://jeremyvlegros.tumblr.com/" target="_blank">
			 Tumblr
		</a>

		<a id="linkedin" class="col button" href="https://www.linkedin.com/in/jeremyvlegros/" target="_blank">
			 LinkedIn
		</a>

		<a id="reddit" class="col button" href="https://www.reddit.com/user/jeremyvlegros" target="_blank">
				Reddit
		</a>

		<a id="twitch" class="col button" href="https://www.twitch.tv/jeremyvlegros" target="_blank">
				Twitch
		</a>

		<a id="steam" class="col button" href="https://steamcommunity.com/id/jeremyvlegros" target="_blank">
				Steam
		</a>

		 <a id="monkey_type" class="col button" style="background-color: #323437" href="https://monkeytype.com/profile/jeremyvlegros" target="_blank">
				Monkey&nbsp;type
		</a>

		 <a id="link_tree" class="col button" style="background-color: #2C5522"
				href="https://linktr.ee/jeremyvlegros" target="_blank">
				Link&nbsp;tree
		</a>

		<a id="nexus_mods" class="col button" href="https://www.nexusmods.com/users/152566508" target="_blank">
				Nexus&nbsp;mods
		</a>

		<a id="github" class="col button" href="https://github.com/jeremyvlegros" target="_blank">
				Github
		</a>

	</div>

{%- endcapture -%}