{%- comment -%} as_string_the_html_post_links_from_posts.liquid {%- endcomment -%}
{%- assign html_the_post_list_with_url_1690556572317772128 = null -%}


{%- if include.from_posts -%}


    {%- if include.from_posts != "" -%}

        {%- comment -%} main value {%- endcomment -%}
        {%- capture html_the_post_list_with_url_1690556572317772128 %}
            <ul>
                {% comment %} generating the post list {% endcomment %}

                {%- for post in include.from_posts -%}
                    
                    {%- comment -%} enforcing posts with post layout {%- endcomment -%}
                    {%- if post.layout == "post"-%}
                        <li>
                            {%- comment -%} handling empty strings {%- endcomment -%}

                            <a href="{{ post.url | relative_url }}"> {{ post.title | capitalize }}</a>
                            {% comment %}{% endcomment %}
                        </li>
                        {% comment %}{% endcomment %}
                    {%- endif -%}

                {%- endfor -%}
        </ul>

        {%- endcapture -%}

    {%- endif -%}

{%- endif -%}


{%- comment -%} return {%- endcomment -%}
{%- assign return = html_the_post_list_with_url_1690556572317772128 -%}

{%- comment -%} resetting {%- endcomment -%}
{%- assign html_the_post_list_with_url_1690556572317772128 = null -%}

