---
str_tag        : null
str_id         : null
str_class      : null
str_content    : null
str_url        : null
str_alt_image  : null
---

{% assign str_tag        = page.str_tag        %}
{% assign str_id         = page.str_id         %}
{% assign str_class      = page.str_class      %}
{% assign str_content    = page.str_content    %}
{% assign str_url        = page.str_url        %}
{% assign str_alt_image  = page.str_alt_image  %}


<!-- opening tag & attributes -->


<

<!-- name -->

{% if str_tag %}

<!----> {{str_tag}}

{% endif %}


<!-- id -->

{% if str_id %}

<!----> id=str_id

{% endif %}


<!-- class -->

{% if str_class %}

<!----> class=str_class

{% endif %}


<!-- url -->

{% if str_url %}

<!----> <!-- image -->

<!----> {% if tag == "img" %}

<!----> <!----> <!-- url in `src` -->

<!----> <!----> src=str_url

<!----> <!-- alt image -->

<!----> <!----> {% if str_alt_image %} alt=str_alt_image {% endif %}

<!----> <!--`<a>` -->

<!----> {% elseif tag == "a" %}

<!----> <!----> <!-- url in `href` -->

<!----> <!----> href=str_url

<!----> {% endif %}

{% endif %}


<!-- end of opening tag -->

>

<!-- main tag content -->

{{content}}

<!--------------------->


<!-- closing tag -->

{% case tag %}

<!----> <!-- auto closing -->

<!----> {% when 'area' or'base' or'br' or'embed' or'hr' or'input' or'link' or'meta' or'param' or'source' or'track' or'wbr' %}

<!----> <!-- do nothing -->

{% else %}

<!----> <!-- closing tag -->

<!----> </{tag}>

{% endcase %}


{% comment %}

<!----> {% raw %}

<!----> <!----> usage : replace the `null` value where you need the tag

<!----> <!----> remark : `str` stands for string, Python language habit.

<!----> <!----> `{% include content=null html_tag str_tag=null str_id=null str_class=null str_content=null str_url=null str_alt_image=null %}`

<!----> <!----> #date 2023-06-20 1319 1687252750827736001 GMT

<!----> {% endraw %}

{% endcomment %}

