<div class="navigation">
	<ul>
		<li class="link_home"><a href="https://jeremyvlegros.github.io/website/"> Home</a></li>
		<li class="link_links"><a href="https://jeremyvlegros.github.io/website/links.html"> Links</a></li>
		<li class="link_opinions"><a href="https://jeremyvlegros.github.io/website/opinions.html"> Opinions</a></li>
		<li class="link_informations"><a href="https://jeremyvlegros.github.io/website/informations.html"> Informations</a></li>
		<li class="link_references"><a href="https://jeremyvlegros.github.io/website/references.html"> References</a></li>
		<li class="link_about_me"><a href="https://jeremyvlegros.github.io/website/about_me.html"> About_me</a></li>
	</ul>
</div>

<!-- #date 2023-06-08 0237 1686177463480651329 -->
