<div class="navigation">
	<ul>
		<li ><a class="button button_color_home" href="https://jeremyvlegros.github.io/website/"> Home</a></li>
		<li ><a class="button button_color_links" href="https://jeremyvlegros.github.io/website/links.html"> Links</a></li>
		<!-- <li ><a class="button button_color_opinions" href="https://jeremyvlegros.github.io/website/opinions.html"> Opinions</a></li> -->
		<!-- <li ><a class="button button_color_informations" href="https://jeremyvlegros.github.io/website/informations.html"> Informations</a></li> -->
		<!-- <li ><a class="button button_color_references" href="https://jeremyvlegros.github.io/website/references.html"> References</a></li> -->
		<li ><a class="button button_color_about_me" href="https://jeremyvlegros.github.io/website/about_me.html"> About_me</a></li>
	</ul>
</div>

<!-- #date 2023-06-13 -->
