<div class="navigation">
	<ul>
		<li class="link_home"><a href="https://jeremyvlegros.github.io/website/"> &#35; Home</a></li>
		<li class="link_links"><a href="https://jeremyvlegros.github.io/website/links.html"> &#35; Links</a></li>
		<li class="link_opinions"><a href="https://jeremyvlegros.github.io/website/opinions.html"> &#35; Opinions</a></li>
		<li class="link_informations"><a href="https://jeremyvlegros.github.io/website/informations.html"> &#35; Informations</a></li>
		<li class="link_references"><a href="https://jeremyvlegros.github.io/website/references.html"> &#35; References</a></li>
		<li class="link_about_me"><a href="https://jeremyvlegros.github.io/website/about_me.html"> &#35; "About me"</a></li>
	</ul>
</div>

<!-- #date 2023-06-08 0137 1686173864852663983 -->
