{% comment %}procedure_website_tags.liquid{% endcomment %}

{%- comment -%} tags_1691512008716947037 {%- endcomment -%}
{%- include as_array_the_website_tags.liquid -%}
{%- assign tags_1691512008716947037 = return -%}
{%- assign return = null -%}
{%- comment -%} `Liquid` does not have functions {%- endcomment -%}

<div class="row">
  {% for tag in tags_1691512008716947037 %}

    {%- comment -%} tag {%- endcomment -%}
    {%- include as_tag_from_word.liquid from_word=tag-%}
    {%- assign _tag_1691512008716947037 = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}
    {{ _tag_1691512008716947037 }}
  {% endfor %}
</div>

{%- assign tags_1691512008716947037 = null -%}
{%- assign _tag_1691512008716947037 = null -%}

{% comment %}{% endcomment %}
