<div>
<h3>`procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid`</h3>

<span style="padding:3px;background-color: yellowgreen">expected success for 1 == 1</span>
<pre>
    {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=1 from_that=1 with_success=true with_warning=true -%}
</pre>

<span style="padding:3px;background-color: darkred">expected failure for 1 == 0</span>
<pre>
    {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=1 from_that=0 with_warning=true -%}
</pre>

<span style="padding:3px;background-color: darkred">expected failure for 0 == ""</span>
<pre>
    {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=0 from_that="" with_success=true with_warning=true with_name="procedure_assert_from_this_and_from_that" -%}
</pre>


<span style="padding:3px;background-color: darkred">expected failure for null == 0</span>
<pre>
    {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=null from_that=0 with_warning=true -%}
</pre>


<span style="padding:3px;background-color: darkred">expected failure for null == ""</span>
<pre>
    {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=null from_that="" with_warning=true -%}
</pre>


<span style="padding:3px;background-color: yellowgreen">expected success for null == null</span>
<pre>
    {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=null from_that=null with_success=true with_warning=true -%}
</pre>



<span style="padding:3px;background-color: yellowgreen">expected success for "" == ""</span>
<pre>
    {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this="" from_that="" with_success=true with_warning=true -%}
</pre>



<span style="padding:3px;background-color: yellowgreen">expected success for ["1,2,3"] == ["1,2,3"]</span>

<pre>
{%- assign array_1 = null -%}
    {%- assign array_2 = null -%}

    {%- assign array_1 = "1,2,3" | split: "," -%}
    {%- assign array_2 = "1,2,3" | split: "," -%}

    {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=array_1 from_that=array_2 with_success=true with_warning=true -%}

</pre>

<span style="padding:3px;background-color: yellowgreen">expected success for [""] == [""]</span>

<pre>
{%- assign array_1 = null -%}
    {%- assign array_2 = null -%}

    {%- assign array_1 = ",," | split: "," -%}
    {%- assign array_2 = ",," | split: "," -%}

    {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=array_1 from_that=array_2 with_success=true with_warning=true -%}

</pre>

<span style="padding:3px;background-color: darkred">expected failure for ["1,2,4"] == ["1,2,3"]</span>

<pre>
{%- assign array_1 = null -%}
    {%- assign array_2 = null -%}

    {%- assign array_1 = "1,2,4" | split: "," -%}
    {%- assign array_2 = "1,2,3" | split: "," -%}

    {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=array_1 from_that=array_2 with_success=true with_warning=true -%}

</pre>
</div>

<hr>

{%- assign SUCCESS = page.boolean_print_successful_tests -%}

<div>{% comment %}<h3>`as_date_utc_from_custom_date.liquid`</h3>{% endcomment %}

    <pre>
    {%- assign input = "#date 2023-06-28 05:16 1687914994970097614 GMT" -%}
        {%- assign expected = "2023-06-28T05:16:00+00:00" -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_date_utc_from_custom_date.liquid from_custom_date=input -%}
        {%- assign result = return -%}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning=true with_name="as_date_utc_from_custom_date.liquid > testing the date" -%}

        {%- assign expected = null -%}
        {%- assign result = null -%}
    </pre>

    <pre>
    {% comment %} date with null returning null {% endcomment %}
        {%- assign input = null -%}
        {%- assign expected = null -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_date_utc_from_custom_date.liquid from_custom_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning=true with_name="as_date_utc_from_custom_date.liquid > date with null returning null" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
    </pre>

    <pre>
    {%- assign input = "" -%}
        {%- assign expected = null -%}
        {%- comment -%} result {%- endcomment -%}
        {%- include as_date_utc_from_custom_date.liquid from_custom_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning=true with_name="as_date_utc_from_custom_date.liquid > date with empty string returning null" -%}
        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}
    </pre>
    
</div>

<div> {% comment  %} <h3>`as_id_from_date.liquid`</h3> {%- endcomment -%}

    <pre>
    {%- assign input = "#date 2023-06-28 05:16 1687914994970097614 GMT" -%}
        {%- assign expected = "1687914994970097614" -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_id_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_id_from_date.liquid > correct date format" -%}

        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>

    <pre>
    {%- assign input = "" -%}
        {%- assign expected = null -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_id_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_id_from_date.liquid > date empty string" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>

    <pre>
    {%- assign input = null -%}
        {%- assign expected = null -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_id_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_id_from_date.liquid > date null" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>

</div>

<div>
    {% comment %}<h3>`as_day_from_date.liquid`</h3>{% endcomment %}
    <pre>
    
    {%- assign input = "#date 2023-06-28 05:16 1687914994970097614 GMT" -%}
        {%- assign expected = "28" -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_day_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_day_from_date.liquid > custom date" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>
    
    
    <pre>
    {%- assign input = "2023-04-01T10:30:00+00:00" -%}
        {%- assign expected = "01" -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_day_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_day_from_date.liquid > normal date" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>
    
    <pre>
    {%- assign input = "" -%}
        {%- assign expected = null -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_day_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_day_from_date.liquid > date empty string" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>
    
    <pre>
    {%- assign input = null -%}
        {%- assign expected = null -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_day_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_day_from_date.liquid > date null" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>

</div>

<div>
    {% comment %}<h3>`as_css_class_the_color_background_from_date.liquid`</h3>{% endcomment %}

    <pre>
    {%- assign input = "#date 2023-06-28 05:16 1687914994970097614 GMT" -%}
        {%- assign expected = "color_background_28" -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_css_class_the_color_background_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_css_class_the_color_background_from_date.liquid > custom_date" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>
    
    <pre>
    {%- assign input = "2023-04-01T10:30:00+00:00" -%}
        {%- assign expected = "color_background_01" -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_css_class_the_color_background_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_css_class_the_color_background_from_date.liquid > normal date" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>
    
    <pre>
    {%- assign input = "" -%}
        {%- assign expected = null -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_css_class_the_color_background_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_css_class_the_color_background_from_date.liquid > date empty string" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>
    
    <pre>
    {%- assign input = null -%}
        {%- assign expected = null -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_css_class_the_color_background_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_css_class_the_color_background_from_date.liquid > date null" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>

</div>

<div>
    {% comment %}<h3>`as_canonical_the_page_url.liquid`</h3>{% endcomment %}

    <pre>
    {%- assign input = "" -%}
        {%- assign expected = "https://jeremyvlegros.github.io/website/tests/variables.html" -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_canonical_the_page_url.liquid -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_canonical_the_page_url.liquid > " -%}

        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>
</div>

<div>
    {% comment %}<h3>`as_image_color_from_date.liquid`</h3>{% endcomment %}

    <pre>
    {%- assign input = "#date 2023-07-15 15:08 1689419289162964599 GMT" -%}
        {%- assign expected = "https://i.imgur.com/NzqdErY.png" -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_image_color_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_image_color_from_date.liquid > GMT" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>

    <pre>
    {%- assign input = "2023-07-15T15:08:00+OO:OO" -%}
        {%- assign expected = "https://i.imgur.com/NzqdErY.png" -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_image_color_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_image_color_from_date.liquid > UTC" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>

    <pre>
    {%- assign input = "2023-07-08T15:08:00+OO:OO" -%}
        {%- assign expected = "https://i.imgur.com/1LxHBZo.png" -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_image_color_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_image_color_from_date.liquid > UTC one relevant digit" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>

    <pre>
    {%- assign input = "#date 2023-07-08 15:08 1689419289162964599 GMT" -%}
        {%- assign expected = "https://i.imgur.com/1LxHBZo.png" -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_image_color_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_image_color_from_date.liquid > GMT one relevant digit" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>

    <pre>
    {%- assign input = "" -%}
        {%- assign expected = null -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_image_color_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_image_color_from_date.liquid > date empty string" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>

    <pre>
    {%- assign input = null -%}
        {%- assign expected = null -%}

        {%- comment -%} result {%- endcomment -%}
        {%- include as_image_color_from_date.liquid from_date=input -%}
        {% assign result = return %}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {%- include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="" with_name="as_image_color_from_date.liquid > date null" -%}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>

</div>



<div>
    {% comment  %} <h3>`as_boolean_the_date_is_custom_from_date.liquid`</h3> {%- endcomment -%}

    {%- assign input = "#date 2023-07-25 23:11 34537745322324 GMT" -%}
    {%- assign expected = true -%}

    {%- comment -%} result {%- endcomment -%}
    {% include as_boolean_the_date_is_custom_from_date.liquid from_date=input %}
    {%- assign result = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

    <br> {% comment %} procedure_assert_from_this_and_from_that {% endcomment %}
    {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="1" with_name="as_boolean_the_date_is_custom_from_date > #date 2023-07-25 23:11 34537745322324 GMT " %}

    {%- assign expected = null -%}
    {%- assign result = null -%}
    {%- assign input = null -%}

    {% comment %} {% endcomment %}

    {%- assign input = "#modified 2023-07-25 23:11 34537745322324 GMT" -%}
    {%- assign expected = true -%}

    {%- comment -%} result {%- endcomment -%}
    {% include as_boolean_the_date_is_custom_from_date.liquid from_date=input %}
    {%- assign result = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

    <br> {% comment %} procedure_assert_from_this_and_from_that {% endcomment %}
    {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="1" with_name="as_boolean_the_date_is_custom_from_date > #modified 2023-07-25 23:11 34537745322324 GMT " %}

    {%- assign expected = null -%}
    {%- assign result = null -%}
    {%- assign input = null -%}

    {% comment %} {% endcomment %}

    {%- assign input = "#deleted 2023-07-25 23:11 34537745322324 GMT" -%}
    {%- assign expected = true -%}

    {%- comment -%} result {%- endcomment -%}
    {% include as_boolean_the_date_is_custom_from_date.liquid from_date=input %}
    {%- assign result = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

    <br> {% comment %} procedure_assert_from_this_and_from_that {% endcomment %}
    {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="1" with_name="as_boolean_the_date_is_custom_from_date > #deleted 2023-07-25 23:11 34537745322324 GMT " %}

    {%- assign expected = null -%}
    {%- assign result = null -%}
    {%- assign input = null -%}

    {% comment %} {% endcomment %}


    {% comment %} {% endcomment %}

    {%- assign input = "#not_a_date 2023-07-25 23:11 34537745322324 GMT" -%}
    {%- assign expected = false -%}

    {%- comment -%} result {%- endcomment -%}
    {% include as_boolean_the_date_is_custom_from_date.liquid from_date=input %}
    {%- assign result = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

    <br> {% comment %} procedure_assert_from_this_and_from_that {% endcomment %}
    {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="1" with_name="as_boolean_the_date_is_custom_from_date > not_a_date" %}

    {%- assign expected = null -%}
    {%- assign result = null -%}
    {%- assign input = null -%}

    {% comment %} {% endcomment %}

    {%- assign input = "#date 2023-07-25 23:11 34537745322324" -%}
    {%- assign expected = false -%}

    {%- comment -%} result {%- endcomment -%}
    {% include as_boolean_the_date_is_custom_from_date.liquid from_date=input %}
    {%- assign result = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

    <br> {% comment %} procedure_assert_from_this_and_from_that {% endcomment %}
    {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="1" with_name="as_boolean_the_date_is_custom_from_date > date lacking GMT" %}

    {%- assign expected = null -%}
    {%- assign result = null -%}
    {%- assign input = null -%}

    {% comment %} {% endcomment %}

    {%- assign input = "#date 2023-07-25 23:11 GMT" -%}
    {%- assign expected = false -%}

    {%- comment -%} result {%- endcomment -%}
    {% include as_boolean_the_date_is_custom_from_date.liquid from_date=input %}
    {%- assign result = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

    <br> {% comment %} procedure_assert_from_this_and_from_that {% endcomment %}
    {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="1" with_name="as_boolean_the_date_is_custom_from_date > date lacking ID" %}

    {%- assign expected = null -%}
    {%- assign result = null -%}
    {%- assign input = null -%}

    {% comment %} {% endcomment %}

    {% comment %} {% endcomment %}

    {%- assign input = "" -%}
    {%- assign expected = false -%}

    {%- comment -%} result {%- endcomment -%}
    {% include as_boolean_the_date_is_custom_from_date.liquid from_date=input %}
    {%- assign result = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

    <br> {% comment %} procedure_assert_from_this_and_from_that {% endcomment %}
    {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="1" with_name="as_boolean_the_date_is_custom_from_date > empty string" %}

    {%- assign expected = null -%}
    {%- assign result = null -%}
    {%- assign input = null -%}

    {% comment %} {% endcomment %}


    {% comment %} {% endcomment %}

    {%- assign input = null -%}
    {%- assign expected = false -%}

    {%- comment -%} result {%- endcomment -%}
    {% include as_boolean_the_date_is_custom_from_date.liquid from_date=input %}
    {%- assign result = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

    <br> {% comment %} procedure_assert_from_this_and_from_that {% endcomment %}
    {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="1" with_name="as_boolean_the_date_is_custom_from_date > null" %}

    {%- assign expected = null -%}
    {%- assign result = null -%}
    {%- assign input = null -%}

    {% comment %} {% endcomment %}
</div>

<div>
    {% comment %}<h3>`as_date_without_id_from_date.liquid`</h3>{% endcomment %}

    {% comment %} {% endcomment %}

    {%- assign input = "#date 2023-07-25 23:11 34537745322324 GMT" -%}
    {%- assign expected = "#date 2023-07-25 23:11 GMT" -%}

    {%- comment -%} result {%- endcomment -%}
    {% include as_date_without_id_from_date.liquid from_date=input %}
    {%- assign result = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

    <br> {% comment %} procedure_assert_from_this_and_from_that {% endcomment %}
    {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning=true with_name="as_date_without_id_from_date.liquid > normal" %}

    {%- assign expected = null -%}
    {%- assign result = null -%}
    {%- assign input = null -%}

    {% comment %} {% endcomment %}

    {%- assign input = "#date 2023-07-25 23:11 34537745322324" -%}
    {%- assign expected = null -%}

    {%- comment -%} result {%- endcomment -%}
    {% include as_date_without_id_from_date.liquid from_date=input %}
    {%- assign result = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

    <br> {% comment %} procedure_assert_from_this_and_from_that {% endcomment %}
    {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning=true with_name="as_date_without_id_from_date.liquid > no GMT" %}

    {%- assign expected = null -%}
    {%- assign result = null -%}
    {%- assign input = null -%}

    {% comment %} {% endcomment %}

    {%- assign input = "#modified 2023-07-25 23:11 34537745322324 GMT" -%}
    {%- assign expected = "#modified 2023-07-25 23:11 GMT" -%}

    {%- comment -%} result {%- endcomment -%}
    {% include as_date_without_id_from_date.liquid from_date=input %}
    {%- assign result = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

    <br> {% comment %} procedure_assert_from_this_and_from_that {% endcomment %}
    {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning=true with_name="as_date_without_id_from_date.liquid > modified" %}

    {%- assign expected = null -%}
    {%- assign result = null -%}
    {%- assign input = null -%}

    {% comment %} {% endcomment %}

    {%- assign input = "#deleted 2023-07-25 23:11 34537745322324 GMT" -%}
    {%- assign expected = "#deleted 2023-07-25 23:11 GMT" -%}

    {%- comment -%} result {%- endcomment -%}
    {% include as_date_without_id_from_date.liquid from_date=input %}
    {%- assign result = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

    <br> {% comment %} procedure_assert_from_this_and_from_that {% endcomment %}
    {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning=true with_name="as_date_without_id_from_date.liquid > deleted" %}

    {%- assign expected = null -%}
    {%- assign result = null -%}
    {%- assign input = null -%}

    {% comment %} {% endcomment %}

    {%- assign input = "#date 2023-07-25 23:11 GMT" -%}
    {%- assign expected = null -%}

    {%- comment -%} result {%- endcomment -%}
    {% include as_date_without_id_from_date.liquid from_date=input %}
    {%- assign result = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

    <br> {% comment %} procedure_assert_from_this_and_from_that {% endcomment %}
    {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning=true with_name="as_date_without_id_from_date.liquid > no ID" %}

    {%- assign expected = null -%}
    {%- assign result = null -%}
    {%- assign input = null -%}

    {% comment %} {% endcomment %}




    {% comment %} {% endcomment %}

    {%- assign input = null -%}
    {%- assign expected = null -%}

    {%- comment -%} result {%- endcomment -%}
    {% include as_date_without_id_from_date.liquid from_date=input %}
    {%- assign result = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

    <br> {% comment %} procedure_assert_from_this_and_from_that {% endcomment %}
    {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning=true with_name="as_date_without_id_from_date.liquid > null" %}

    {%- assign expected = null -%}
    {%- assign result = null -%}
    {%- assign input = null -%}

    {% comment %} {% endcomment %}

    {% comment %} {% endcomment %}

    {%- assign input = "" -%}
    {%- assign expected = null -%}

    {%- comment -%} result {%- endcomment -%}
    {% include as_date_without_id_from_date.liquid from_date=input %}
    {%- assign result = return -%}
    {%- assign return = null -%}
    {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

    <br> {% comment %} procedure_assert_from_this_and_from_that {% endcomment %}
    {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning=true with_name="as_date_without_id_from_date.liquid > empty string" %}

    {%- assign expected = null -%}
    {%- assign result = null -%}
    {%- assign input = null -%}

    {% comment %} {% endcomment %}

</div>

<div>
    {% comment %}<h3>`as_modification_date_without_id_from_date.liquid`</h3>{% endcomment %}

    <pre>
    {% comment %} {% endcomment %}

        {%- assign input = "#date 2023-07-25 23:11 34537745322324 GMT" -%}
        {%- assign expected = "#modified 2023-07-25 23:11 GMT" -%}

        {%- comment -%} result {%- endcomment -%}
        {% include as_modification_date_without_id_from_date.liquid from_date=input %}
        {%- assign result = return -%}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="1" with_name="as_modification_date_without_id_from_date.liquid > normal" %}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}

        {% comment %} {% endcomment %}
    </pre>

    <pre>
    {% comment %} {% endcomment %}

        {%- assign input = "" -%}
        {%- assign expected = null -%}

        {%- comment -%} result {%- endcomment -%}
        {% include as_modification_date_without_id_from_date.liquid from_date=input %}
        {%- assign result = return -%}
        {%- assign return = null -%}


        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid this=expected that=result with_success=SUCCESS with_warning="1" with_name="as_modification_date_without_id_from_date.liquid > modification date" %}


        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}

        {% comment %} {% endcomment %}
    </pre>

</div>



<div> 
    {% comment  %} <h3>`as_array_from_string_and_separator.liquid`</h3> {%- endcomment -%}

    <pre>
        {%- assign expected = "1,2,34" | split: "," -%}

        {%- comment -%} result {%- endcomment -%}
        {% include as_array_from_string_and_separator.liquid from_string="1,2,34" from_separator="," %}
        {%- assign result = return -%}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="1" with_name="as_array_from_string_and_separator.liquid > Split array with comma" %}

        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>
    
    <pre>
        {%- assign expected = "1 ,2 ,3 4" | split: " " -%}

        {%- comment -%} result {%- endcomment -%}
        {% include as_array_from_string_and_separator.liquid from_string="1 ,2 ,3 4" from_separator=" " %}
        {%- assign result = return -%}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="1" with_name="as_array_from_string_and_separator.liquid > Split array with space" %}

        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    </pre>
    
    <pre>
        {%- assign expected = "1 ,2 ,3 4" | split: null -%}

        {%- comment -%} result {%- endcomment -%}
        {% include as_array_from_string_and_separator.liquid from_string="1 ,2 ,3 4" from_separator=null %}
        {%- assign result = return -%}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="1" with_name="as_array_from_string_and_separator.liquid > Split array with space" %}

        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}
    
    </pre>

</div>

<div>{% comment  %} <h3> test `procedure_check_type_array_from.liquid`</h3> {%- endcomment -%}

    {% comment %}if it crashes it works, uncomment to test.{% endcomment %}

    <pre>
    {% comment %}{%- include procedure_check_type_array_from.liquid from="1,2,3" -%}{% endcomment %}
    </pre>

    <pre>
    {% comment %}{%- include procedure_check_type_array_from.liquid from="[1,2,3]" -%}{% endcomment %}
    </pre>

    <pre>
    {%- assign array = "1,2,3" | split: "," -%}
        {%- include procedure_check_type_array_from.liquid from=array -%}
        {%- assign array = null -%}
    </pre>

</div>

<div> {% comment  %} <h3>test `as_array_from_string`</h3> {%- endcomment -%}

    <pre>
    {% comment %} {% endcomment %}

        {%- assign input = "" -%}
        {%- assign expected = site.ARRAY_EMPTY -%}

        {%- comment -%} result {%- endcomment -%}
        {% include as_array_from_string.liquid from_string=input %}
        {%- assign result = return -%}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="1" with_name="as_id_from_date.liquid > as array from empty string" %}

        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}

        {% comment %} {% endcomment %}
    </pre>
    
    <pre>
    {% comment %} {% endcomment %}

        {%- assign input = "1 ,2,  3" -%}
        {%- assign expected = "1 ,2,  3" | split: "," -%}

        {%- comment -%} result {%- endcomment -%}
        {% include as_array_from_string.liquid from_string=input %}
        {%- assign result = return -%}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="1" with_name="as_id_from_date.liquid > as array from string with commas and multiple spaces" %}

        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}

        {% comment %} {% endcomment %}
    </pre>
    
    <pre>
    {% comment %} {% endcomment %}

        {%- assign input = "1  2  3" -%}
        {%- assign expected = "1  2  3" | split: " " -%}

        {%- comment -%} result {%- endcomment -%}
        {% include as_array_from_string.liquid from_string=input %}
        {%- assign result = return -%}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="1" with_name="as_id_from_date.liquid > as array from string with multiple spaces" %}

        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}

        {% comment %} {% endcomment %}
    </pre>
    
    <pre>
    {% comment %} {% endcomment %}

        {%- assign input = null -%}
        {%- assign expected = null | split: "" -%}

        {%- comment -%} result {%- endcomment -%}
        {% include as_array_from_string.liquid from_string=input %}
        {%- assign result = return -%}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning="1" with_name="as_id_from_date.liquid > as array from string with null" %}

        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}

        {% comment %} {% endcomment %}
    </pre>

</div>



<div>
    <pre>
        {% comment %} as_id_from_post.liquid {% endcomment %}

        {%- assign input = site.posts[-1] -%}
        {%- assign expected = "1684454400000000000" -%}

        {%- comment -%} result {%- endcomment -%}
        {% include as_id_from_post.liquid from_post=input %}
        {%- assign result = return -%}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning=true with_name="as_id_from_post.liquid > the first post " %}

        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}

        {% comment %} {% endcomment %}



        {% comment %} {% endcomment %}

        {%- assign input = null -%}
        {%- assign expected = null -%}

        {%- comment -%} result {%- endcomment -%}
        {% include as_id_from_post.liquid from_post=input %}
        {%- assign result = return -%}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning=true with_name="as_id_from_post.liquid > null" %}

        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}

        {% comment %} {% endcomment %}



        {% comment %} {% endcomment %}

        {%- assign input = "" -%}
        {%- assign expected = null -%}

        {%- comment -%} result {%- endcomment -%}
        {% include as_id_from_post.liquid from_post=input %}
        {%- assign result = return -%}
        {%- assign return = null -%}
        {%- comment -%} `Liquid` does not have functions {%- endcomment -%}

        {%- comment -%} procedure_assert_from_this_and_from_that {%- endcomment -%}
        {% include procedure_assert_from_this_and_from_that_with_success_with_warning_with_name.liquid from_this=expected from_that=result with_success=SUCCESS with_warning=true with_name="as_id_from_post.liquid > empty string" %}

        {%- assign expected = null -%}
        {%- assign result = null -%}
        {%- assign input = null -%}

        {% comment %} {% endcomment %}

    </pre>
</div>



{% comment %}{%- assign input = "#about #jekyll" | split :" " -%}{% endcomment %}
{% comment %}{%- assign expected = "1692623165771443389 1687132800000000000" | split : " " -%}{% endcomment %}









