*
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
	// default value is not zero
	margin: 0
	// default value is not zero
	padding: 0
	font-size: 1.01em
	line-height: 2

