*
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
    margin: 0  // default value is not zero
    padding: 0 // default value is not zero
    font-size: 1.01em
    line-height: 2

