@import setup

.button

	transition: $button_transition
	border-radius: $button_border_radius
	text-decoration: $button_text_decoration !important
	padding: $button_padding
	margin: $button_margin
	text-align: center
	color: $button_text_color
	font-weight: $button_font_weight
	border: $button_border_width solid $button_border_color
	box-shadow: $button_box_shadow !important
	font-size: $button_font_size
	background-color: $button_background_color
	width: $button_height
	height: $button_width

	&:hover

		transform: $button_transform_scale
		box-shadow: $button_box_shadow_hover !important
		color: $button_text_color_hover
		border: $button_border_hover !important