@import variables

.button

	transition: $button_transition
	border-radius: $button_border_radius
	text-decoration: none !important
	padding: $button_padding
	margin: $button_margin
	text-align: center
	color: $button_text_color
	font-weight: bolder
	border: $button_border_width solid $button_border_color
	box-shadow: $button_shadow_offset_x $button_shadow_offset_y $button_shadow_blurriness $button_shadow_color !important
	font-size: smaller
	background-color: $button_background_color
	width: $button_height
	height: $button_width

	&:hover

		transform: $button_transform_scale
		box-shadow: none !important
		color: white
		border: $button_border_width_over solid $button_border_color !important