@import variables

///////////////////////// backticks /////////////////////////
.language-plaintext

	padding: 10px
	border-radius: 7px
	border-color: $code_dracula_background_color
	font-weight: bold


//	&:before

//	  content     : "`"
//	  color       : $code_backticks_text_color
//	  font-weight : bold

//	&:after
//
//	  content     : "`"
//	  color       : $code_backticks_text_color
//	  font-weight : bold


// code highlighter

.highlighter-rouge

	margin-top: 1px
	margin-bottom: 1px
	border: 1px solid $code_border_color
	border-radius: 6px
	color: $code_backticks_text_color
	// overflow part 1
	overflow-x: scroll

	.highlight

		// overflow part 2
		width: fit-content

	// overflow part 3 - filling the color gap
	background-color: $code_background_color






