@import variables

.post

	margin: 20px 30px 50px
	border-radius: $post_border_radius
	//box-shadow: 2px 1px 0 1px $post_shadow_color
	// old setup serving as fallback color
	background-color: $post_background_color
	border: $post_border_thickness solid $post_shadow_color
	//overflow-inline: scroll  // can't use it, it overwrites the bottom border when Firefox `always show scrollbar` is set

	.button

		color: $post_button_text_color
		background-color: $post_button_background_color

	.version

		color: #AAA


	// helping the `Firefox reader` parser
	h1

		background-color: $post_header_background_color
		display: block
		border-radius: $post_border_radius $post_border_radius 0 0
		border-bottom: 2px solid $post_shadow_color
		color: $post_title_text_color
		text-align: center
		font-size: 2em
		font-weight: bold
		font-variant-caps: all-small-caps
		padding: 2%

	.post_title

		color: $post_title_text_color
		text-align: center
		font-size: 2em
		font-weight: bold
		font-variant-caps: all-small-caps
		padding: 2%

	.post_content

		padding: 5% 10%
		color: $post_text_color
		border-radius: 0 0 $post_border_radius

		ul

			margin-top: 1%
			margin-bottom: 1%

		p, li

			background-color: rgba(0, 0, 0, 8%)
			padding: 10px
			border-radius: 10px

		p

			margin-bottom: 2%

			&:first-letter

				font-size: 1.1em


		li

			margin-top: 2%
			margin-left: 7%
			list-style: square!important

		hr

			margin-bottom: 3%
			margin-top: 3%

		.date

			font-style: italic

	.footer

		display: flex
		align-content: space-around
		background-color: rgba(0, 0, 0, 75%)
		margin: 0
		//padding :20px
		padding-top: 0
		padding-bottom: 20px
		border-radius: 0 0 $post_footer_border_radius $post_footer_border_radius
		border-top: $post_border_thickness $post_shadow_color solid
		//z-index: 1
		color: white
		height: 10%

		.tags

			//margin-top  : 10px
			//background-color: black
			display: flex
			align-items: center
			margin-left: 10px
			margin-right: 10px
			margin-bottom: 10px

			a

				text-decoration: none


			.button

				//border-radius : 10px
				padding: 2px
				margin-left: 3px


	// For `Firefox` reader and no `CSS` view
	.post_splitter

		// yes, it is used
		display: none
