@import setup

@media screen and (max-width: $width_responsive_small_screen)

	#timeline

		padding: $timeline_padding_responsive_small_screen
		margin-left: $timeline_margin_left_responsive_small_screen
		flex-wrap: wrap

		.posts

			margin-left: $timeline_posts_margin_left_responsive_small_screen
			margin-right: $timeline_posts_margin_left_responsive_small_screen

			.post

				margin-bottom: $timeline_post_margin_bottom_responsive_small_screen
				margin-left: 0
				margin-right: 0

		.page_title

			display: flex
			z-index: $timeline_page_heading_z_index_responsive_small_screen

	#timeline_index

		//display: none
		//position: relative
		width: $timeline_index_width_responsive_small_screen
		padding-top: $timeline_index_padding_top_responsive_small_screen
		padding-bottom: $timeline_index_padding_bottom_responsive_small_screen

	.button

		padding-top: 0
		padding-bottom: 0


	.post

		margin-right: $post_margin_right_responsive_small_screen
		margin-left: $post_margin_left_responsive_small_screen

		h1

			width: 100%
			border-radius: 0 0 $main_border_radius $main_border_radius !important
			display: flex
			flex-wrap: wrap

		.post_category

			width: 100%
			border-radius: $main_border_radius $main_border_radius 0 0 !important
			display: flex
			text-align: center !important
			//noinspection CssReplaceWithShorthandSafely
			border: $main_border_width $post_border_style $post_border_color
			//noinspection CssReplaceWithShorthandSafely
			border-bottom: none

		.post_title

			margin-right: 20px !important


@media screen and (min-width: 1000px)

	.post

		margin-left: 220px
		margin-right: 220px