@import setup

@media screen and (max-width: $responsive_screen_width)

	#timeline_index

		//display: none
		position: relative
		width: $responsive_screen_timeline_index_width
		padding-top: $responsive_screen_timeline_index_padding_top
		padding-bottom: $responsive_screen_timeline_index_padding_bottom

	.timeline

		padding: $responsive_screen_timeline_padding

		.posts

			margin-left: $responsive_screen_timeline_posts_margin_left

		.post

			margin-bottom: $responsive_screen_timeline_post_margin_bottom

		.page-heading

			z-index: $responsive_screen_timeline_page_heading_z_index

