@import variables

.page li

	list-style: none

.timeline

	margin-top: 30px
	padding: 0


	.page-heading

		font-weight: bolder
		font-variant-caps: all-small-caps
		display: flex
		font-size: 30px
		color: black
		position: fixed
		left: 5px
		top: 1%
		writing-mode: vertical-lr
		text-orientation: upright
		text-decoration-thickness: 3px
		border: 2px none $color_post_shadow
		border-left-style: solid
		z-index: -1
		height: 100%


	.page

		padding: 0


	.post

		// spacing between posts
		margin: 0 0 20vh


	.posts

		margin-left: 10px
		margin-right: 4%
		padding-left: 0

		.post

			padding-left: 0


	.post_content li

		//@task : do something about that if possible
		list-style: square
		margin-top: 2%


//.right
//    margin-top : 50px


////////////////////////////INDEX////////////////////////////

//noinspection CssUnknownProperty
#side_index

	left: 0
	margin-top: -30px
	margin-bottom: 30px

	color: $color_side_index_text
	padding: 0
	position: fixed
	width: inherit

	// scrolling
	overflow-y: scroll
	height: 99%

	////  firefox
	scrollbar-width: none
	z-index: 4


	&::-webkit-scrollbar

		//untested
		display: none


	.side_index_content

		//margin-left: 5%
		//padding-bottom : 10%

		ul

			padding-left: 50px


		li

			margin: 8px 10px 8px 0
			display: flex


		// buttons
		a

			color: white
			padding: 15px
			margin-right: 70px
			text-decoration: none
			transition: all .2s ease-in-out
			width: 100%
			border-radius: 15px
			border: 2px solid $color_post_shadow
			box-shadow: 2px 1px 0 1px $color_post_shadow
			font-weight: bolder


			&:hover

				transform: scale(.97) !important
				box-shadow: 1px 1px 1px 1px $color_post_shadow