@import setup

//noinspection CssUnknownProperty
#timeline_index

	left: $timeline_index_position_left
	margin-top: $timeline_index_margin_top
	margin-bottom: $timeline_index_margin_bottom

	color: $timeline_index_text_color
	padding: $timeline_index_padding
	//position: fixed
	width: inherit

	// scrolling
	overflow-y: scroll
	height: $timeline_index_height

	// scrolling > firefox
	//scrollbar-width: none

	z-index: $timeline_index_z_index


	&::-webkit-scrollbar

		//untested
		display: none

	ul

		padding-left: $timeline_index_unordered_list_padding_left
		padding-right: $timeline_index_unordered_list_padding_left


	li

		margin: $timeline_index_list_margin
		display: flex
		padding: $timeline_index_list_padding
		flex-wrap: wrap
		overflow-wrap: break-word

	.button

		text-align: left !important

	.post_category

		border: 1px solid white
		padding: 5px
		border-radius: $main_border_radius

	.highlighter-rouge
		padding: 5px