@import color_variables

/* @buttons */
$button_shadow_offset_x: 7px
$button_shadow_offset_y: 7px
$button_shadow_blurriness: 0px

/* @post */
$post_border_radius: 18px
$post_border_thickness: 3px
$post_footer_border_radius: calc($post_border_radius - $post_border_thickness)
