:root
{
  --color_preface               : hsl(100,100%, 30%);
  --color_preface_shadow        : hsl(100,100%,  0%);

  --color_day_job               : hsl(200,100%, 30%);
  --color_day_job_shadow        : hsl(200,100%,  0%);

  --color_dream_job             : hsl(300, 40%, 40%);
  --color_dream_job_shadow      : hsl(300, 40%,  0%);

  --color_happy                 : hsl(900,100%, 30%);
  --color_happy_shadow          : hsl(900,100%,  0%);

  --color_job_reality           : hsl(800,100%, 30%);
  --color_job_reality_shadow    : hsl(800,100%,  0%);

  --color_context               : hsl(700, 70%, 30%);
  --color_context_shadow        : hsl(700, 70%,  0%);

  --color_date_2018_2021        : hsl(600, 30%, 30%);
  --color_date_2018_2021_shadow : hsl(600, 30%,  0%);

  --color_date_2016_2018        : hsl(500,100%, 30%);
  --color_date_2016_2018_shadow : hsl(500,100%,  0%);

  --color_date_2016             : hsl(400,100%, 30%);
  --color_date_2016_shadow      : hsl(400,100%,  0%);

  --color_border                : hsl(400,100%, 0%);
}

.wrapper
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#about_me
{
  margin-left : 20%;
  margin-right: 20%;
  padding     :10px;
  font-family : Helvetica Neue,sans-serif;
  font-size   : 1.2em;
}

#about_me h1,h2,h3
{
  font-size        : 2em  ;
  background-color : white;
  border-radius    : 50px;
  border           : 2px solid black;
  width            : fit-content;
  text-align       : center;
  padding          : 10%;
  margin-right     : 10%;
  margin-left      : 10%;
  margin-bottom    : 2%;
}

/* blocs */
#about_me div
{
  padding      : 10%;
  box-shadow   : 4px 4px 1px var(--color_border);
  border       : 1px solid   var(--color_border);
  border-radius: 20px;
  min-width    : fit-content;
  color        : white;
}


#about_me #preface
{
  background-color: var(--color_preface);
  margin-right: 10%;
  margin-left : 10%;
/*  box-shadow: 4px 4px 1px var(--color_preface_shadow);*/

}

#about_me #preface #title
{
  color:hsl(100,100%,30%);
  padding: 5%;
}

#about_me #day_job h2
{
  color:var(--color_day_job);
}

#about_me #day_job
{
  background-color: var(--color_day_job);
  margin-right: 20%;
/*  box-shadow: 4px 4px 1px var(--color_day_job_shadow);*/

}

#about_me #dream_job h2
{
  color: var(--color_dream_job);
}

#about_me #dream_job
{
  background-color: var(--color_dream_job);
  margin-left: 20%;

/*  box-shadow: 4px 4px 1px var(--color_dream_job_shadow);*/

}

#about_me #happy h3
{
  color :var(--color_happy);
}

#about_me #happy
{
  background-color: var(--color_happy);
  margin-left: 20%;

/*  box-shadow: 4px 4px 1px var(--color_happy_shadow);*/

}

#about_me #job_reality h3
{
  color :var(--color_job_reality);
}

#about_me #job_reality
{
  background-color: var(--color_job_reality);
  margin-right: 10%;
  margin-left : 5%;

/*  box-shadow: 4px 4px 1px var(--color_job_reality_shadow);*/
}

#about_me #context h3
{
  color : var(--color_context);
}

#about_me #context
{
  background-color: var(--color_context);
  margin-right: 20%;

/*  box-shadow: 4px 4px 1px var(--color_context_shadow);*/
}

#about_me #date_2018_2021 h2
{
  color :var(--color_date_2018_2021);
}
#about_me #date_2018_2021
{
  background-color: var(--color_date_2018_2021);
  margin-left: 20%;

/*  box-shadow: 4px 4px 1px var(--color_date_2018_2021_shadow);*/
}

#about_me #date_2016_2018 h2
{
  color :var(--color_date_2016_2018);
}

#about_me #date_2016_2018
{
  background-color: var(--color_date_2016_2018);
  margin-right : 20%;

/*  box-shadow: 4px 4px 1px var(--color_date_2016_2018_shadow);*/
}

#about_me #date_2016 h2
{
  color :var(--color_date_2016);
}

#about_me #date_2016
{
  background-color: var(--color_date_2016);
  margin-right : 30%;
  margin-left : 20%;

/*  box-shadow: 4px 4px 1px var(--color_date_2016_shadow);*/

}

/* responsive stuff */

@media screen and (max-width: 623px) {
  #about_me #preface,
  #about_me #context,
  #about_me #date_2016,
  #about_me #date_2016_2018,
  #about_me #date_2018_2021,
  #about_me #day_job,
  #about_me #dream_job,
  #about_me #happy,
  #about_me #job_reality
  {
   margin-right: 1%;
   margin-left: 1%;
/*    margin: 0 0 0 0;*/
  }

  #about_me
  {
    transition: all .3s ease-in-out;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 20%;
  }
}

@media screen and (min-width: 573px) {

  #about_me
  {
   transition: all .3s ease-in-out;
  }

}

@media screen and (min-width: 1457px) 
{
  
  #about_me #preface,
  #about_me #context,
  #about_me #date_2016,
  #about_me #date_2016_2018,
  #about_me #date_2018_2021,
  #about_me #day_job,
  #about_me #dream_job,
  #about_me #happy,
  #about_me #job_reality
  {
   margin-right: 1%;
   margin-left: 1%;
   padding: 4%;
   align-self: flex-start;
   
    
/*    margin: 0 0 0 0;*/
  }

  #about_me
  {
    transition: all .4s ease-in;
    display: flex;
    flex-direction: row;
    margin-right: 1%;
    margin-left: 1%;
    //height: 90%;
    position: absolute;
    margin-top: 1%;
  }
  
  
  #about_me h1,h2,h3
  {
    margin-bottom: 1%;
    margin-top: 0%;
  }
  
  #about_me:active
  {
    transition: all 5s ease-in-out;
    //transform: scale(0.9 );
  }

  
  
}


/*#date 2023-06-09 2020 1686327651135262192*/
