/*#date 2023-06-26 0559 1687744777686674234 GMT*/
:root
{
  --color_background                    : hsl(4, 7%, 69%);

  --post_luminosity_trigger             : 37%;
  
  --color_1                             : hsl(010, 50%, var(--post_luminosity_trigger));
  --color_2                             : hsl(030, 50%, var(--post_luminosity_trigger));
  --color_3                             : hsl(040, 50%, var(--post_luminosity_trigger));
  --color_4                             : hsl(060, 50%, var(--post_luminosity_trigger));
  --color_5                             : hsl(080, 50%, var(--post_luminosity_trigger));
  --color_6                             : hsl(100, 50%, var(--post_luminosity_trigger));
  --color_7                             : hsl(190, 20%, var(--post_luminosity_trigger));
  --color_8                             : hsl(190, 100%, var(--post_luminosity_trigger));
  /*--color_7                             : hsl(120, 50%, var(--post_luminosity_trigger)); !* NOPE verdant green too bright*!*/
  /*--color_8                             : hsl(140, 50%, var(--post_luminosity_trigger)); !* NOPE young gree too bright *!*/
  /*--color_9                             : hsl(160, 50%, var(--post_luminosity_trigger)); !* NOPE *!*/
  /*--color_10                            : hsl(180, 50%, var(--post_luminosity_trigger)); !* NOPE *!*/
  --color_11                            : hsl(200, 50%, var(--post_luminosity_trigger));
  --color_12                            : hsl(220, 50%, var(--post_luminosity_trigger));
  --color_13                            : hsl(230, 50%, var(--post_luminosity_trigger));
  --color_14                            : hsl(250, 50%, var(--post_luminosity_trigger));
  /*--color_15                            : hsl(270, 50%, var(--post_luminosity_trigger)); !* NOPE *!*/
  /*--color_16                            : hsl(290, 50%, var(--post_luminosity_trigger)); !* NOPE *!*/
  /*--color_17                            : hsl(300, 50%, var(--post_luminosity_trigger)); !* NOPE purple too bright*!*/
  /*--color_18                            : hsl(320, 50%, var(--post_luminosity_trigger)); !* NOPE *!*/
  --color_19                            : hsl(340, 50%, var(--post_luminosity_trigger));

  --color_title_preface                 : hsl(100, 100%, 31%);
  --color_title_day_job                 : hsl(200, 9%, 44%);
  --color_title_dream_job               : hsl(620, 100%, 30%);
  --color_title_happy                   : hsl(10, 99%, 34%);
  --color_title_job_reality             : hsl(20, 100%, 30%);
  --color_title_context                 : hsl(0, 50%, 38%);
  --color_title_date_2016               : hsl(41, 100%, 40%);

  --color_tumblr                        : hsl(212, 100%, 10%); /*#001935;*/
  --color_twitter                       : hsl(203, 89%, 53%); /*#1DA1F2;*/
  --color_linkedin                      : hsl(201, 100%, 35%); /*#0077B5;*/
  --color_reddit                        : hsl(16, 100%, 49%); /*#FA4400;*/
  --color_nexus_mods                    : hsl(31, 67%, 55%); /*#D98F40;*/
  --color_github                        : hsl(220, 13%, 18%); /*#272B33;*/
  --color_twitch                        : hsl(264, 100%, 64%); /*#9147FF;*/
  --color_steam                         : hsl(222, 18%, 11%); /*#171A21;*/

  --color_post_title                    : hsl(222, 18%, 0%);
  --color_post_header_background        : hsl(4, 7%, 80%);
  /*--color_post_header_background        : hsla(0, 0%, 0%, 0.7);*/
  --color_post_content_title_background : hsla(0, 0%, 10%, 0.4);
  --color_post_content_background       : hsl(9, 50%, 50%);
  --color_post_button_background        : rgba(255, 255, 255, .3);
  --color_post_button_text              : white;

  --color_side_index_background         : hsla(9, 0%, 0%, 0.5);
  --color_side_index_text               : hsl(9, 50%, 100%);
  --color_side_index_border             : var(--color_side_index_background); /*opacity does the job*/

  --button_color_tumblr                 : var(--color_tumblr);
  --button_color_twitter                : var(--color_twitter);
  --button_color_linkedin               : var(--color_linkedin);
  --button_color_reddit                 : var(--color_reddit);
  --button_color_nexus_mods             : var(--color_nexus_mods);
  --button_color_github                 : var(--color_github);
  --button_color_twitch                 : var(--color_twitch);
  --button_color_steam                  : var(--color_steam);

  --button_color_hover_tumblr           : var(--color_tumblr);
  --button_color_hover_twitter          : var(--color_twitter);
  --button_color_hover_linkedin         : var(--color_linkedin);
  --button_color_hover_reddit           : var(--color_reddit);
  --button_color_hover_nexus_mods       : var(--color_nexus_mods);
  --button_color_hover_github           : var(--color_github);
  --button_color_hover_twitch           : var(--color_twitch);
  --button_color_hover_steam            : var(--color_steam);


  --background_color_dracula            : #282a36;

  /* need to change that for each Pygment theme */
  --background_color_code               : var(--background_color_dracula);

  --color_back_ticks                    : #999;
  --color_border_code                   : rgba(0, 0, 0, .5);
}

body, html
{
  background-color : var(--color_background);
}

.color_1
{
  background-color : var(--color_1) !important;

}

.color_2
{
  background-color : var(--color_2) !important;

}

.color_3
{
  background-color : var(--color_3) !important;

}

.color_4
{
  background-color : var(--color_4) !important;

}

.color_5
{
  background-color : var(--color_5) !important;

}

.color_6
{
  background-color : var(--color_6) !important;

}

.color_7
{
  background-color : var(--color_7) !important;

}

.color_8
{
  background-color : var(--color_8) !important;

}

.color_9
{
  background-color : var(--color_9) !important;

}

.color_10
{
  background-color : var(--color_10) !important;
}

.color_11
{
  background-color : var(--color_11) !important;
}

.color_12
{
  background-color : var(--color_12) !important;
}

.color_13
{
  background-color : var(--color_13) !important;
}

.color_14
{
  background-color : var(--color_14) !important;
}

.color_15
{
  background-color : var(--color_15) !important;
}

.color_16
{
  background-color : var(--color_16) !important;
}

.color_17
{
  background-color : var(--color_17) !important;
}

.color_18
{
  background-color : var(--color_18) !important;
}

.color_19
{
  background-color : var(--color_19) !important;
}
