.home
{
  margin-left: 3%;
  margin-right: 3%;
/*  border:1px solid;*/
/*  border-radius: 10px;*/
/*  padding:0%;*/
/*  box-shadow: 5px 1px 0px 1px, 5px 7px 1px 1px;*/
}

.home li
{
/*  margin-left: 7%;*/
  list-style: none;
}

.home ul
{
  margin-top: 1%;
  margin-bottom: 1%;
}

.home p
{
  margin-bottom: 2%;
}

.home p:first-letter
{
  font-size: 1.1em;
}

/*#date 2023-06-20 1606 1687262771922495168 GMT*/
