/*#date 2023-06-26 0534 1687743242578447331 GMT*/

#links
{
  margin-left  : 30%;
  margin-right : 30%;
  text-align   : center;
  position     : absolute;
  top          : 1%;
  bottom       : 1%;
}


#links .social_logo
{
  /*height: 5%;*/
  /*width: 5%;*/
}

#links h1
{
  color : black;
}

#links hr
{
  margin-bottom : 4%;
 /*color: yellowgreen;*/
  visibility    : hidden;
}

#links h1:after
{
}

#links a
{
  text-decoration : none;
  display         : block;

}

#links .list_line
{
  margin-top    : 3%;
  margin-bottom : 3%;
  list-style    : none;
}

#links #steam
{
  background-color : var(--button_color_steam);
}

#links #github
{
  background-color : var(--button_color_github);
}

#links #nexus_mods
{
  background-color : var(--button_color_nexus_mods);
}

#links #reddit
{
  background-color : var(--button_color_reddit);
}

#links #tumblr
{
  background-color : var(--button_color_tumblr);
}

#links #twitter
{
  background-color : var(--button_color_twitter);
}

#links #linkedin
{
  background-color : var(--button_color_linkedin);
}

#links #twitch
{
  background-color : var(--button_color_twitch);
}

/*hover colors*/

#links #steam:hover
{
  background-color : var(--button_color_hover_steam);
}

#links #github:hover
{
  background-color : var(--button_color_hover_github);
}

#links #nexus_mods:hover
{
  background-color : var(--button_color_hover_nexus_mods);
}

#links #reddit:hover
{
  background-color : var(--button_color_hover_reddit);
}

#links #tumblr:hover
{
  background-color : var(--button_color_hover_tumblr);
}

#links #twitter:hover
{
  background-color : var(--button_color_hover_twitter);
}

#links #linkedin:hover
{
  background-color : var(--button_color_hover_linkedin);
}

#links #twitch:hover
{
  background-color : var(--button_color_hover_twitch);
}

#links #version
{
  color : grey;
}

#links .text_gray
{
  color : gray;
}

#links .text_centered
{
  text-align : center
}

@media screen and (max-width : 573px)
{
  #links
  {
    margin-right : 7%;
    margin-left  : 7%;
    /* background-color:blue;*/
    /* border: 10px solid blue;*/
  }
}

