:root
{
  --color_post_navigation_li_background:hsla(0,7%,20%,1);
  --color_arrow_go_top_background:hsla(0,7%,30%,.6);
  --color_post_navigation_text_color: white;
/*  --color_post_navigation_text_color: yellowgreen;*/
}

.arrow_to_top a
{
  position :fixed;
  right: 2%;
  bottom : 2%;
  color:white;
  /*need this part for the setup*/
  background-color:var(--color_arrow_go_top_background);
  padding:3%;
  border-radius: 10px; 
  box-shadow: 2px 1px 1px 1px, 2px 1px 1px 1px black;  
}

.navigation
{
  position: fixed;
  left: 0;
  top: 10%;
  bottom: auto;
  margin:0;  
}

.navigation ul
{
  //display: flex;
   
}

.navigation li
{
  list-style: none;
  /*border-radius: 50px;*/
  margin: 30%;
  padding: 0;
}

.navigation a
{
  text-decoration: none;
  color: var(--color_post_navigation_text_color);  
  //color: white;
  //border-radius: 18px; 
  padding: 10px;
  width: 10%;
  box-shadow: 2px 1px 1px 1px black, 2px 1px 1px 1px black;
  background-color: var(--color_post_navigation_li_background);
}

.navigation .button:hover
{
  background-color:hsl(30,50%,40%);
}

.navigation .button_color_home:hover
{
  background-color: hsl(90,50%,40%);
}
.navigation .button_color_links:hover
{
  background-color: hsl(225,50%,40%);
}
.navigation .button_color_opinions:hover
{
  background-color: hsl(240,50%,60%);
}
.navigation .button_color_informations:hover
{
  background-color: hsl(105,50%,60%);
}
.navigation .button_color_references:hover
{
  background-color: hsl(55,50%,20%);
}
.navigation .button_color_about_me:hover
{
  background-color: hsl(300,50%,40%);
}

@media screen and (max-width: 902px){

  .navigation
  {
   left: 3%;
   right: auto;
   top: 0;   
   position :relative;
  }
  
  .navigation li
  {
    display:inline-block;
    margin: 1%;
    padding:5%;
  }
}

@media screen and (max-width: 502px){

  .navigation
  {
   left: 3%;
   right: auto;
   top: 0;   
   position :relative;
  }
  
  .navigation li
  {
    display:block;
    margin-right: 12%; /* couldn't find the right tag changing it here */
    padding:4%;
  }
  
  .navigation .button
  {
    display: block;
    width: 100%;
    
  }
}

/*#date 2023-06-13*/
