:root
{
  --color_post_content_background:white;
/*  --color_post_content_background:hsl(4,7%,90%);*/
}

/*.page-heading
{
  color:#00b8ff;
  text-align: center;
}*/

.post-title
{
  color : black;
  text-align: center;
  font-size: 2em;
  font-variant-caps: all-petite-caps;
}

.post-content
{
  margin-left: 20%;
  margin-right: 20%;
  border: 1px solid;
  padding: 5%;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 1px 0px 1px, 5px 7px 1px 1px;
  background-color: var(--color_post_content_background);
  overflow-inline: scroll;

}
.post-content h1
{
  font-variant: small-caps;
  text-align: center;
}

.post-content li
{
  list-style: square;
}

/* responsive tweaks */


@media screen and (max-width: 573px) {
  .post-content {
    margin: 0;
  }
}

/*#date 2023-06-07 2259 1686164341301739677*/