/*#date 2023-06-25 1513 1687691630617437316 GMT*/

:root
{
  /* Markdown titles have generated ids, it's complex to deal with*/
  --border_radius : 20px;
}


.version
{
  color : #AAA;
}

.post .button
{
  color            : white;
  background-color : rgba(255, 255, 255, .3);
}

.post
{
  margin-top       : 50px;
  margin-bottom    : 20px;
  margin-right     : 60px;
  margin-left      : 20px;
  /*margin-top: 3%;*/
  /*border: 1 px solid #000;*/
  /*border-radius: var(--border_radius);*/
  border-radius    : var(--border_radius) var(--border_radius) 0 0;
  box-shadow       : 5px 1px 0px 1px #333, 5px 7px 1px 1px #333;
  background-color : var(--color_post_content_background); /* temporary */
  border-top       : 1px solid #222;
  /*overflow-inline: scroll; can't use it, it overwrites the bottom border ... when Firefox "always show scrollbar" is set*/
  color            : #EEE;
}

.post
{

}

.post-content
{
  padding : 5% 10%;
  /*border-radius: 0 0 var(--border_radius) var(--border_radius);*/
}

.post-header
{
  background-color : var(--color_post_header_background);
  display          : block;
  /*margin-top:0;*/
  /*margin-bottom: 0;*/
  /*margin-left: 0;*/
  /*padding-bottom: 1%;*/
  border-radius    : var(--border_radius) var(--border_radius) 0 0;
  /*box-shadow: 1px 1px 2px 1px gray*/

}

.post a
{
  color : #333;
}

.post hr
{
  display : none;
}

.post-title
{
  color             : var(--color_post_title);
  text-align        : center;
  font-size         : 2em;
  font-weight       : bold;
  font-variant-caps : all-small-caps;
  padding           : 2%;
}

.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6
{
  margin-bottom : 3%;
  margin-top    : 3%;
  border        : unset;
  /*font-variant-caps: all-small-caps;*/
  /*background-color: var(--color_post_content_title_background);*/
  box-shadow    : 1px 1px 2px var(--color_post_content_title_background);
  border-radius : 20px 20px 20px 20px;

}

.post-content h2
{
  font-size        : 1.8em;
  text-align       : left;
  padding          : 2.5%;
  /*width: 90%;*/
  border           : 1px solid rgba(0, 0, 0, .4);
  background-color : rgba(0, 0, 0, 0.7);
}


.post-content h3
{

  font-size        : 1.7em;
  color            : #DDD;
  padding          : 2%;
  /*width: 80%;*/
  /*    margin-left: 10%;*/
  text-align       : left;
  /*border: 1px solid rgba(255, 255, 255, 0.5);*/
  background-color : rgba(0, 0, 0, 0.6);
}


.post-content h4
{

  font-size        : 1.6em;
  color            : #CCC;
  padding          : 1.5%;
  /*width: 70%;*/
  /*      margin-left: 15%;*/
  /*  text-align: center;*/
  background-color : rgba(0, 0, 0, 0.5);
}

.post-content h5
{

  font-size        : 1.5em;
  color            : #BBB;
  padding          : 1%;
  /*width: 60%;*/
  background-color : rgba(0, 0, 0, 0.4);
}

.post-content h6
{

  font-size        : 1.4em;
  color            : #AAA;
  padding          : .5%;
  /*width: 50%;*/
  background-color : rgba(0, 0, 0, 0.3);
}


.post-content li
{
  margin-left : 7%;
}

.post-content ul
{
  margin-top    : 1%;
  margin-bottom : 1%;
}


.post-content p
{
  margin-bottom : 2%;
}

.post-content p:first-letter
{
  font-size : 1.1em;
}

.post-content li
{
/ / list-style: square;
}


.post-content hr
{
  margin-bottom : 3%;
  margin-top    : 3%;
}

.post-content p
{
  margin-left : 4%;
}

/* testing title symbols */

/*.post-content h2:before
{
  content: "└─┤ ";
}*/


/*.post-content h2:before*/
/*{*/
/*  content: "🮤 ";*/
/*}*/

/*.post-content h3:before*/
/*{*/
/*  content: "🮫 ";*/
/*}*/

/*.post-content h4:before*/
/*{*/
/*  content: "🮮 ";*/
/*}*/

/*.post-content h5:before*/
/*{*/
/*  content: "🮮🮣 ";*/
/*}*/

/*.post-content h5:before*/
/*{*/
/*  content: "🮮🮤 ";*/
/*}*/


/*.post-content h2:before*/
/*{*/
/*  content: "> ";*/
/*}*/

/*.post-content h3:before*/
/*{*/
/*  content: ">> ";*/
/*}*/

/*.post-content h4:before*/
/*{*/
/*  content: ">>> ";*/
/*}*/

/*.post-content h5:before*/
/*{*/
/*  content: ">>>> ";*/
/*}*/

/*.post-content h5:before*/
/*{*/
/*  content: ">>>>> ";*/
/*}*/


/*.post-content h2:before
{
  content: "🯲 ";
}

.post-content h3:before
{
  content: "🯳 ";
}

.post-content h4:before
{
  content: "🯴 ";
}

.post-content h5:before
{
  content: "🯵 ";
}

.post-content h5:before
{
  content: "🯶 ";
}*/

/*.post-content h2:before
{
  content: "🭷 ";
}

.post-content h3:before
{
  content: "🭸 ";
}

.post-content h4:before
{
  content: "🭹 ";
}

.post-content h5:before
{
  content: "🭺 ";
}

.post-content h5:before
{
  content: "🭻 ";
}
*/

/* testing black on white */

/*@media screen and (min-width: 885px)
{ *
  {--post_luminosity_trigger : 0%!important;}

  body,.page-content
  {
    background-color: black;
  }
}
*/

/* error highlighting if using h1 in post content*/

.post-content h1
{
  text-decoration       : underline;
  text-decoration-style : wavy;
  text-decoration-color : purple;
  font-size             : 2.3em;
  text-align            : left;
  color                 : black;
  /*  background-color : red;*/
}



