:root
{
  --color_post_content_background:white;
/*  --color_post_content_background:hsl(4,7%,90%);*/
}

*
{
  font-size: 1em;
}

.post-title
{
  color : black;
  text-align: center;
  font-size: 3em;
  font-variant-caps: all-petite-caps;
}

.post
{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
  border: 1px solid;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 5px 1px 0px 1px, 5px 7px 1px 1px;
  background-color: var(--color_post_content_background);
  overflow-inline: scroll;
}

/* error highlighting if using h1 in post content*/
.post-content h1
{
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: purple;
  font-size : 2.3em;
  text-align: left;
}

.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6
{
  padding: 0;
  margin : 0 0 0 0;
  margin-bottom: 3%;
  margin-top: 3%;
  border: none;
}

.post-content h2
{
  font-size : 2.3em;
  text-align: left;
}

.post-content h3
{
  font-size : 2em;
}

.post-content h4
{
  font-size : 1.7em;
}

.post-content h5
{
  font-size : 1.4em;
}

.post-content h6
{
  font-size : 1.3em;
}

.post-content hr
{
  margin-bottom: 3%;
  margin-top: 3%;
}

.post li
{
  margin-left: 7%;
}

.post ul
{
  margin-top: 1%;
  margin-bottom: 1%;
}

.post p
{
  margin-bottom: 2%;
}

.post p:first-letter
{
  font-size: 1.1em;
}

.post-content li
{
  list-style: square;
}

/* responsive tweaks */


@media screen and (max-width: 573px) {
  .post {
    margin-left : 3%;
    margin-right: 3%;
  }
}

/*#date 2023-06-10 2212 1686420742459729386*/
