/*#date 2023-06-26 0534 1687743242578447331 GMT*/

/* backticks */
.language-plaintext
{

  /*background-color : var(--color_back_ticks) !important; !*prevent to be overwritten by highlight background color *!*/
  /*border-color     : var(--color_back_ticks) !important; !*prevent to be overwritten by highlight background color *!*/
  padding       : 1px;
  border-radius : 7px;
  border-color  : var(--background_color_dracula);
}

.language-plaintext:before
{
  content     : "`";
  color       : yellowgreen;
  font-weight : bold;

}

.language-plaintext:after
{
  content     : "`";
  color       : yellowgreen;
  font-weight : bold;
}

/* code highlighter */

.highlighter-rouge
{
  overflow-x       : scroll; /*overflow part 1*/
  margin-top       : 1px;
  margin-bottom    : 1px;
  border           : 1px solid var(--color_border_code);
  border-radius    : 6px;
  background-color : var(--background_color_code); /*overflow part 3 - filling the color gap*/

}

.highlighter-rouge .highlight
{
  width : fit-content; /*overflow part 2*/
}

