
/* backticks */
.language-plaintext
{
	background-color: #EEE;
	padding: .3%;
	border-radius: 7px;
}

.language-plaintext:before
{
	content: "`";
	color:yellowgreen;
	font-size: 1.1em;
	font-weight:bold;
}

.language-plaintext:after
{
	content: "`";
	color:yellowgreen;
	font-size: 1.1em;
	font-weight:bold;
}

/* code overflow */

.highlighter-rouge
{
  overflow-x: scroll;
}

.highlighter-rouge .highlight
{
  width: fit-content;
}


/*#date 2023-06-13*/
