/* #date 2023-07-04 18:27 1688480861266600058 GMT */

/* dev stuff */
.page-content
{
  /*background-color: red;*/
}

.timeline
{
  /*background-color : yellow;*/
}

#side_index
{
  /*background-color : orange;*/
}

.timeline .post-list li
{
  /*background-color : indianred;*/
}

#side_index .side_index_content li
{
  /*background-color: yellowgreen;*/
}

.side_index_content .container
{
  /*background-color : darkgreen;*/

}

#side_index .side_index_content ul
{

  /*background-color : darkslateblue;*/

}

/************** main CSS*********************/


.timeline
{
  /*margin-bottom : 100px;*/
  /*margin-right  : 100px;*/
  padding : 0;
}


.timeline .page-heading
{
  /*display: none;*/
  text-align  : center;
  font-weight : bolder;
  display     : flex;
  color       : #111;
  /*position      : fixed;*/
}


.timeline .page-content
{
  padding : 0;
}

.page-content li
{
  list-style : none;
}

.timeline .post-list
{
  margin-top   : 0;
  margin-left  : 0;
  padding-left : 0;
}

.timeline .post-list .post
{
  margin-left  : 1%;
  padding-left : 0;
}

.timeline .post-content li
{
  list-style : square;
  margin-top : 2%;
}

/* ------------------ INDEX --------------------------- */

#side_index
{
  left          : 0;
  margin-bottom : 30px;
  margin-top    : 3px;

  /*background-color : var(--color_background_side_index);*/
  color         : var(--color_text_side_index);
  /*margin-right     : 40px;  */
  /*margin-left      : 40px;*/
  padding       : 0;
  position      : fixed;
  width         : inherit;
}

/* scrolling */

#side_index
{
  overflow-y : scroll;
  height     : calc(100% - 30px + 3px);

  /*  firefox */
}

/*noinspection CssUnknownProperty*/
#side_index
{
  scrollbar-width : none;
}

#side_index::-webkit-scrollbar
{
  display : none;
}

#side_index::-webkit-scrollbar
{
  display : none;
}

#side_index .side_index_content
{
  padding : 10%;
}


#side_index .side_index_content ul
{
  /*position         : relative;*/
  /*left             : -30px;*/
  /*padding-left     : 17%;*/
  padding-right : 10%;
}

#side_index .side_index_content li
{
  margin-top    : 3%;
  margin-bottom : 3%;
  margin-left   : 0;
  display       : flex;
}


/* buttons */
#side_index .side_index_content a
{
  background-color : var(--color_background_post_header);
  color            : black;
  padding          : 10px;
  text-decoration  : none;
  border-radius    : 20px;
  transition       : all .2s ease-in-out;
  border           : 2px solid #222;
  /*box-shadow       : 1px 3px 1px 1px var(--color_post_shadow), 1px 3px 1px 1px var(--color_post_shadow);*/
  box-shadow       : 1px 3px 1px 1px #222, 1px 3px 1px 1px #222;

}

#side_index .side_index_content a:hover
{
  transform        : scale(.97) !important;
  background-color : white;
  color            : black;
  box-shadow       : 1px 1px 1px 1px black, 1px 1px 1px 1px black;
}

/* responsive tweak */

@media screen and (max-width : 576px)
{
  #side_index
  {
    position      : relative;
    /*width        : 100vw;*/
    margin-right  : 0;
    padding-left  : 0;
    padding-right : 0;
    margin-top    : 0;
  }

  #side_index .side_index_content
  {
    position : relative;

    /*width         : 100vw;*/
    /*margin-right  : 0;*/
    /*padding-left  : 0;*/
    /*padding-right : 0;*/

  }

  #side_index .side_index_content ul
  {
    position : relative;
    /*margin-right  : 0;*/
    /*padding-left  : 0;*/
    /*padding-right : 0;*/

  }

  #side_index .side_index_content li
  {
    /*margin-left : 40px;*/
  }

  .timeline .post-list
  {
    margin-left  : 13%;
  }
}
