.timeline .page-content
{
  margin: 0;
  padding: 0;
}



.timeline .post-list
{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: normal;
  flex-direction: row;
}

.timeline .post
{
  margin: 0;
  width: 100%;
  height: 100%;
}
