---
title                    : null
description              : null
date_of_creation         : null
date_of_modification     : null
boolean_remove_bootstrap : null
---

{%- comment -%}<!-- LIQUID -->{%- endcomment -%}

{%- comment -%}<!--   DECLARATION -->{%- endcomment -%}

{%- assign page_title               = page.title -%}
{%- assign page_meta_description    = page.description -%}
{%- assign date_of_creation         = page.date_of_creation -%}
{%- assign date_of_modification     = page.date_of_modification -%}
{%- assign page_type                = page.type -%}
{%- assign boolean_remove_bootstrap = page.boolean_remove_bootstrap -%}
{%- assign page_url                 = page.url -%}
{%- assign site_name                = site.name -%}

{%- comment -%}<!-- just in case -->{%- endcomment -%}
{%- assign page_meta_date_of_creation = null -%}
{%- assign page_meta_description      = null -%}
{%- assign page_meta_type             = null -%}
{%- assign page_meta_title            = null -%}
{%- assign page_meta_url              = null -%}
{%- assign page_canonical_url         = null -%}
{%- assign page_meta_site_name        = null -%}
{%- assign page_meta_image_color      = null -%}
{%- assign page_url_bootstrap         = null -%}
{%- assign page_url_css               = null -%}


{%- comment -%}<!-- handling empty strings -->{%- endcomment -%}

{%- if page_title == "" -%}
<!---->{%- assign page_title = null -%}
{%- endif -%}

{%- if page_meta_description == "" -%}
<!---->{%- assign page_meta_description = null -%}
{%- endif -%}

{%- if date_of_creation == "" -%}
<!---->{%- assign date_of_creation = null -%}
{%- endif -%}

{%- if date_of_modification == "" -%}
<!---->{%- assign date_of_modification = null -%}
{%- endif -%}

{%- if page_type == "" -%}
<!---->{%- assign page_type = null -%}
{%- endif -%}

{%- if boolean_remove_bootstrap == "" -%}
<!---->{%- assign boolean_remove_bootstrap = null -%}
{%- endif -%}

{%- if page_url == "" -%}
<!---->{%- assign page_url = null -%}
{%- endif -%}

{%- if site_name == "" -%}
<!---->{%- assign site_name = null -%}
{%- endif -%}

{%- comment -%}<!-- PROCESSING -->{%- endcomment -%}

{%- capture date_of_creation-%}
<!---->{%- include as_date_utc_from_custom_date.liquid date=date_of_creation -%}
{%- endcapture -%}

{%- capture date_of_modification-%}
<!---->{%- include as_date_utc_from_custom_date.liquid date=date_of_modification -%}
{%- endcapture -%}

{%- capture image_color-%}
<!---->{%- include as_image_color_from_date.liquid date=date_of_creation -%}
{%- endcapture -%}

{%- if page_title -%}
<!---->{%- assign page_title = page_title | escape | replace : " &gt;","&nbsp;&gt;" -%}
{%- endif -%}

{%- capture page_canonical_url -%}
<!---->{%- include as_canonical_the_page_url.liquid -%}
{%- endcapture -%}


{%- if date_of_creation -%}
<!---->{%- capture page_meta_date_of_creation-%}
            <meta property="article:published_time" content="{{date_of_creation}}"/>
<!---->{%- endcapture -%}
{%- endif -%}

{%- if page_meta_description -%}
<!---->{%- capture page_meta_description-%}
            <meta name="description" content="{{page_meta_description}}"/>
            <meta property="og:description" content="{{page_meta_description}}"/>
<!---->{%- endcapture -%}
{%- endif -%}

{%- if page_meta_type -%}
<!---->{%- capture page_meta_type-%}
            <meta property="og:type" content="{{page_type}}"/>
<!---->{%- endcapture -%}
{%- endif -%}

{%- if page_title -%}
<!---->{%- capture page_meta_title-%}
          <meta property="og:title" content="{{page_title}}"/>
          <meta name="twitter:card" content="summary"/>
          <meta property="twitter:title" content="{{page_title}}"/>
          <title>{{page_title}}</title>
<!---->{%- endcapture -%}
{%- endif -%}

{%- if page_url -%}

<!---->{%- capture page_meta_url-%}
            <meta property="og:url" content="{{page_meta_url}}"/>
<!---->{%- endcapture -%}

<!---->{%- capture page_canonical_url -%}

<!----><!---->{%- capture _page_canonical_url -%}
<!----><!----><!---->{%- include as_canonical_the_page_url.liquid -%}
<!----><!----><{%- endcapture -%}

<!----><!---->{%- comment -%}<!--suppress HtmlUnknownTarget --> {%- endcomment -%}
              <link rel="canonical" href="{{_page_canonical_url}}"/>
<!---->{%- endcapture -%}

{%- endif -%}

{%- if site_name -%}
<!---->{%- capture page_meta_site_name-%}
            <meta property="og:site_name" content="{{site_name}}"/>
<!---->{%- endcapture -%}
{%- endif -%}

{%- if page_image_color -%}
<!---->{%- capture page_meta_image_color-%}
            <meta name='og:image' content="{{page_meta_image_color}}"/>
            <meta name='twitter:image' content='{{page_image_color}}'/>
<!---->{%- endcapture -%}
{%- endif -%}


{% if page_remove_bootstrap %}
<!---->{%- assign page_url_bootstrap = null -%}
{%- else -%}
<!---->{%- capture page_url_bootstrap-%}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
              crossorigin="anonymous">
<!---->{%- endcapture -%}
{% endif %}

{%- capture page_url_css -%}
<!--suppress HtmlUnknownTarget, HtmlRequiredTitleElement -->
    <link rel="stylesheet" href="{{'/assets/main.css' | relative_url}}">
{%- endcapture -%}

{%- comment -%}<!-- END LIQUID --> {%- endcomment -%}

<!DOCTYPE html>
<html lang="en">
    <head>
      
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">

        <meta name="viewport"
              content="width=device-width, initial-scale=1">

        <meta property="og:locale"
              content="en_US"/>

        {{ page_meta_date_of_creation }}
      
        {{ page_meta_description }}
      
        {{ page_meta_type }}

        {{ page_meta_title }}
      
        {{ page_meta_url }}

        {{ page_canonical_url }}

        {{ page_meta_site_name }}

        {{ page_meta_image_color }}

        {{ page_url_bootstrap }}

        {{ page_url_css }}

    </head>
    <body>
        <main class="page-content" aria-label="Content">
        {{ content }}
        </main>
    </body>
</html>	
