---
title                    : null
description              : null
date_of_creation         : null
date_of_modification     : null
boolean_remove_bootstrap : null
---

<!DOCTYPE html>
<html lang="en">
    <head>
      
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">

        <meta name="viewport"
              content="width=device-width, initial-scale=1">

        <meta property="og:locale"
              content="en_US"/>

        {% include base.liquid %}

    </head>
    <body>
        <main class="page-content" aria-label="Content">
        {{ content }}
        </main>
    </body>
</html>