---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%Y %b %-d" -%}
      {%- for post in posts -%}
      <li>
		  
		<div class="post">
			<header class="post-header">
	    			<h1 class="post-title p-name" itemprop="name headline">{{ post.title | escape }}</h1>
	  		</header>
	
			<div class="post-content e-content" itemprop="articleBody">
	   			 {{ post.content }}
	  		</div>
			
			{% if page.date_of_creation %}
					Created&nbsp;&nbsp;: {{ page.date_of_creation }}
			{% endif %}
			
			<br>  
			
			{% if page.date_of_modification %}
					Modified&nbsp;: {{ page.date_of_modification }}
			{% endif %} 
			
		</div>
		  
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
