---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%Y %b %-d" -%}
      {%- for post in posts -%}
      <li>
	      
      <article class="post {{page.post_color}}" itemscope itemtype="http://schema.org/BlogPosting">
        
        <header class="post-header">
          <h1 class="post-title" itemprop="name headline">{{ post.title | escape }}</h1>
        </header>
      
        <div class="post-content" itemprop="articleBody">
          {{ content }}
	  <br>
		
          {% if post.date_of_creation %}
          <span class='date date_of_creation'>Created&nbsp;&nbsp;: {{ post.date_of_creation }} </span>
          {% endif %}          
          <br>  	
		
          {% if post.date_of_modification %}
          <span class="date date_of_modification">Modified&nbsp;: {{ post.date_of_modification }} </span>
          {% endif %}
        </div>
	      
      </article>		  
		  
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
