---
layout               : base
title                : null
date_of_creation     : null
date_of_modification : null
no_color_background  : null
---

{%- include post.liquid -%}


<article class="post {{post_color_background}}" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">

        {{ post_title }}

    </header>

    <div class="post-content" itemprop="articleBody">

        {{ content }}

        <br>

        {{ post_date_of_creation }}

        <br>

        {{ post_date_of_modification }}

        <br>

        {{ post_id }}
    </div>

</article>

{%- assign post_title = null -%}
{%- assign post_date_of_creation = null -%}
{%- assign post_date_of_modification = null -%}
{%- assign post_id = null -%}

