---
layout : base
---
<!-- timeline layout
#date 2023-07-05 15:06 1688555192943325977 GMT
-->
<div class="timeline container-fluid">

    {%- assign _date_top = site.posts[0].date_of_creation -%}
    {%- assign _date_bottom = site.posts[-1].date_of_creation -%}

    {%- capture html_top_and_bottom_arrows -%}
    {%- include as_html_top_and_bottom_arrows_from_date_top_and_date_bottom.liquid date_top=_date_top
    date_bottom=_date_bottom
    -%}
    {%- endcapture -%}
    
    {%- comment -%} N.B : variables are reset in the include {%- endcomment -%}

    {{html_top_and_bottom_arrows}}

    {%- assign html_top_and_bottom_arrows = null -%}

    {{ content }}

    <div class="row g-sm-6">

        <div class="col-12 col-sm-5 col-lg-4">
            <div id="side_index" class="row">
                <div class="side_index_content">
                    <ul>
                        <li>
                            {%- if page.title -%}
                            <h1 class="page-heading">{{ page.title }}</h1>
                            {%- endif -%}
                        </li>

                        {%- capture html_post_index_list -%}
                        {%- include as_html_the_post_index_list_from_posts.liquid posts=site.posts-%}
                        {%- endcapture -%}

                        {{ html_post_index_list }}

                        {%- assign html_post_index_list = null -%}

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-7 col-lg-8 g-0">
            <ul class="post-list">
                {%- assign posts = site.posts -%}
                {%- for post in posts -%}
                <li>
                    {%- comment -%}<!-- LIQUID --> {%- endcomment -%}
                    {%- comment -%}<!--   DECLARATION --> {%- endcomment -%}

                    {%- assign post_title = post.title -%}
                    {%- assign post_tags = post.tags -%}
                    {%- assign post_url = post.url -%}
                    {%- assign post_category = post.category -%}
                    {%- assign post_content_description = post.content_description -%}
                    {%- assign post_color_background = post.color_background -%}
                    {%- assign post_type = post.type -%}
                    {%- assign post_image_color = post.image_color -%}
                    {%- assign date_of_creation = post.date_of_creation -%}
                    {%- assign date_of_modification = post.date_of_modification -%}
                    {%- assign post_id = "unknown" -%}

                    {%- comment -%}<!-- handling empty strings--> {%- endcomment -%}

                    {%- if post_title == "" -%}
                    {%- assign post_title = null -%}
                    {%- endif -%}

                    {%- if post_tags == "" -%}
                    {%- assign post_tags = null -%}
                    {%- endif -%}

                    {%- if post_color_background == "" -%}
                    {%- assign post_color_background = null -%}
                    {%- endif -%}

                    {%- if date_of_creation == "" -%}
                    {%- assign date_of_creation = null -%}
                    {%- endif -%}

                    {%- if date_of_modification == "" -%}
                    {%- assign date_of_modification = null -%}
                    {%- endif -%}


                    {%- comment -%}<!-- INITILISATION --> {%- endcomment -%}

                    {%- comment -%}<!-- TITLE --> {%- endcomment -%}

                    {%- if post_title -%}
                    {%- assign post_title = post_title | escape | replace : " &gt;","&nbsp;&gt;" -%}
                    {%- endif -%}

                    {%- comment -%}<!-- PROCESSING--> {%- endcomment -%}


                    {%- comment -%}<!-- DATE OF CREATION--> {%- endcomment -%}
                    {%- if date_of_creation -%}

                    {%- comment -%}
                    <!-- removing "#date " and " GMT"
                                                     => "2023-06-28 05:16 1687914994970097614"
                    -->
                    {%- endcomment -%}

                    {%- assign date_of_creation = date_of_creation | replace : "#date ","" | replace " GMT",""%}

                    {%- comment -%}
                    <!-- split date in array
                                                    => "[2023-06-28, 05:16, 1687914994970097614]"
                    -->
                    {%- endcomment -%}

                    {%- assign date_of_creation = date_of_creation | split:" "%}
                    {%- assign post_id = date_of_creation[2] -%}

                    {%- comment -%}
                    <!-- getting time
                                                    => 05:16
                    -->
                    {%- endcomment -%}

                    {%- assign time_of_creation = date_of_creation[1] -%}

                    {%- comment -%}<!-- getting day of creation for colors --> {%- endcomment -%}
                    {%- assign date_for_image_color = date_of_creation[0] -%}

                    {%- comment -%}
                    <!-- hour with seconds and Time difference
                    I won't calculate the seconds ... for now ?
                                                   => "05:16:00+00:00"
                    -->
                    {%- endcomment -%}

                    {%- assign time_of_creation = time_of_creation | append :":00+00:00" -%}

                    {%- comment -%}
                    <!-- adding 'T' and hour to date
                                                   => "2023-06-28T05:16:00+00:00"
                    -->
                    <!--                               2023-06-28                          T             05:16:00+00:00
                    -->
                    {%- endcomment -%}

                    {%- assign date_of_creation = date_of_creation[0] | append : "T" | append : time_of_creation -%}

                    {%- endif -%}

                    {%- comment -%}<!-- DATE OF MODIFICATION --> {%- endcomment -%}
                    {%- if date_of_modification -%}

                    <!-- removing "#date " and " GMT"
                                                     => "2023-06-28 05:16 1687914994970097614"
                    -->
                    {%- assign date_of_modification = date_of_modification | replace : "#date ","" | replace " GMT",""%}

                    {%- comment -%}
                    <!-- split date in array
                                                     => "[2023-06-28, 05:16, 1687914994970097614]"
                    -->
                    {%- endcomment -%}

                    {%- assign date_of_modification = date_of_modification | split:" "%}

                    {%- comment -%}
                    <!-- getting time
                                                    => 05:16
                    -->
                    {%- endcomment -%}

                    {%- assign time_of_modification = date_of_modification[1] -%}

                    {%- comment -%}
                    <!-- hour with seconds and Time difference
                    I won't calculate the seconds ... for now ?
                                                    => "05:16:00+00:00"
                    -->
                    {%- endcomment -%}

                    {%- assign time_of_modification = time_of_modification | append :":00+00:00" -%}

                    {%- comment -%}
                    <!-- adding 'T' and hour to date
                                                   => "2023-06-28T05:16:00+00:00"
                    -->
                    <!--                               2023-06-28                          T             05:16:00+00:00
                    -->
                    {%- endcomment -%}

                    {%- assign date_of_modification = date_of_modification[0] | append : "T" | append :
                    time_of_creation%}

                    {%- endif -%}


                    {%- comment -%}<!-- DATE FOR IMAGE COLOR --> {%- endcomment -%}

                    {%- assign date_for_image_color = date_for_image_color | split : '-' -%}

                    {%- comment -%}<!-- getting the day --> {%- endcomment -%}
                    {%- assign date_for_image_color = date_for_image_color[2] -%}


                    {%- comment -%}<!-- CONTENT BACKGROUND COLOR--> {%- endcomment -%}

                    {%- comment -%}<!-- setting color if null --> {%- endcomment -%}

                    {%- if post_color_background == null -%}
                    {%- assign post_color_background = date_for_image_color -%}
                    {%- endif -%}

                    {%- case post_color_background -%}
                    {%- when 1,"1" -%}
                    {%- assign post_color_background = "color_background_1" -%}
                    {%- when 2,"2" -%}
                    {%- assign post_color_background = "color_background_2" -%}
                    {%- when 3,"3" -%}
                    {%- assign post_color_background = "color_background_3" -%}
                    {%- when 4,"4" -%}
                    {%- assign post_color_background = "color_background_4" -%}
                    {%- when 5,"5" -%}
                    {%- assign post_color_background = "color_background_5" -%}
                    {%- when 6,"6" -%}
                    {%- assign post_color_background = "color_background_6" -%}
                    {%- when 7,"7" -%}
                    {%- assign post_color_background = "color_background_7" -%}
                    {%- when 8,"8" -%}
                    {%- assign post_color_background = "color_background_8" -%}
                    {%- when 9,"9" -%}
                    {%- assign post_color_background = "color_background_9" -%}
                    {%- when 10,"10" -%}
                    {%- assign post_color_background = "color_background_10" -%}
                    {%- when 11,"11" -%}
                    {%- assign post_color_background = "color_background_11" -%}
                    {%- when 12,"12" -%}
                    {%- assign post_color_background = "color_background_12" -%}
                    {%- when 13,"13" -%}
                    {%- assign post_color_background = "color_background_13" -%}
                    {%- when 14,"14" -%}
                    {%- assign post_color_background = "color_background_14" -%}
                    {%- when 15,"15" -%}
                    {%- assign post_color_background = "color_background_15" -%}
                    {%- when 16,"16" -%}
                    {%- assign post_color_background = "color_background_16" -%}
                    {%- when 17,"17" -%}
                    {%- assign post_color_background = "color_background_17" -%}
                    {%- when 18,"18" -%}
                    {%- assign post_color_background = "color_background_18" -%}
                    {%- when 19,"19" -%}
                    {%- assign post_color_background = "color_background_19" -%}
                    {%- when 20,"20" -%}
                    {%- assign post_color_background = "color_background_20" -%}
                    {%- when 21,"21" -%}
                    {%- assign post_color_background = "color_background_21" -%}
                    {%- when 22,"22" -%}
                    {%- assign post_color_background = "color_background_22" -%}
                    {%- when 23,"23" -%}
                    {%- assign post_color_background = "color_background_23" -%}
                    {%- when 24,"24" -%}
                    {%- assign post_color_background = "color_background_24" -%}
                    {%- when 25,"25" -%}
                    {%- assign post_color_background = "color_background_25" -%}
                    {%- when 26,"26" -%}
                    {%- assign post_color_background = "color_background_26" -%}
                    {%- when 27,"27" -%}
                    {%- assign post_color_background = "color_background_27" -%}
                    {%- when 28,"28" -%}
                    {%- assign post_color_background = "color_background_28" -%}
                    {%- when 29,"29" -%}
                    {%- assign post_color_background = "color_background_29" -%}
                    {%- when 30,"30" -%}
                    {%- assign post_color_background = "color_background_30" -%}
                    {%- when 31,"31" -%}
                    {%- assign post_color_background = "color_background_31" -%}
                    {%- endcase -%}


                    <article class="post {{post_color_background}}" itemscope itemtype="http://schema.org/BlogPosting">

                        <header class="post-header">

                            {%- if post_title -%}
                            <h1 id="{{post_id}}" class="post-title" itemprop="name headline">
                                {{ post_title }}
                            </h1>
                            {%- endif -%}

                        </header>

                        <div class="post-content" itemprop="articleBody">

                            {{ post.content }}

                            <br>

                            {%- if post.date_of_creation -%}
                            <span class='date date_of_creation'> {{ post.date_of_creation }} </span>
                            {%- endif -%}

                            <br>

                            {%- if post.date_of_modification -%}
                            <span class="date date_of_modification">
                                {%- assign short_date = post.date_of_modification | split : " " -%}
                                {%- comment -%} using a variable to get some feedback
                                {%- endcomment -%}
                                {%- assign short_date = "#modified " | append : short_date[1] | append : " " | append : short_date[2] -%}
                                {{  short_date }}
                            </span>
                            {%- endif -%}
                        </div>

                    </article>
                </li>
                {%- endfor -%}
            </ul>
        </div>

    </div>

    <div class="dates">

        <br>

        {%- if page.date_of_creation -%}
        <span class='date date_of_creation'> {{ page.date_of_creation }} </span>
        {%- endif -%}

        <br>

        {%- if page.date_of_modification -%}
        <span class="date date_of_modification">
        {%- assign short_date = page.date_of_modification | split : " " -%}
        {%- comment -%} using a variable to get some feedback
        {%- endcomment -%}
        {%- assign short_date = "#modified " | append : short_date[1] | append : " " | append : short_date[2] -%}
        {{  short_date }}
        </span>
        {%- endif -%}

    </div>

</div>
