---
layout : base
---

{%- comment -%}<!-- LIQUID PROCESSING -->{%- endcomment -%}

{%- comment -%}<!-- site posts --> {%- endcomment -%}
{%- assign posts = site.posts-%}

{%- comment -%}<!-- short modification date -->{%- endcomment -%}
{%- assign date_of_modification_short = page.date_of_modification | split : " " -%}
{%- assign date_of_modification_short = "#modified "
| append : date_of_modification_short[1]
| append : " "
| append : date_of_modification_short[2]
-%}

{%- comment -%}  <!-- dates of first/top and last/bottom posts --> {%- endcomment -%}
{%- assign _date_top = posts[0].date_of_creation -%}
{%- assign _date_bottom = posts[-1].date_of_creation -%}

{%- comment -%}  <!-- HTML top and bottom arrows --> {%- endcomment -%}
{%- capture html_top_and_bottom_arrows -%}
{%- include as_html_top_and_bottom_arrows_from_date_top_and_date_bottom.liquid from_date_top=_date_top
from_date_bottom=_date_bottom
-%}
{%- endcapture -%}{%- comment -%}  <!-- N.B : variables `_date_top` `_date_bottom` are reset in the `include` --> {%- endcomment -%}


{%- comment -%}<!-- HTML index post list --> {%- endcomment -%}
{%- capture html_post_index_list -%}
{%- include as_html_the_post_index_list_from_posts.liquid from_posts=posts-%}
{%- endcapture -%}

{%- comment -%}<!-- HTML post list --> {%- endcomment -%}
{%- capture html_post_list -%}
{%- include as_html_the_post_list_from_posts.liquid from_posts=posts-%}
{%- endcapture -%}


{%- comment -%}<!-- END OF LIQUID PROCESSING -->{%- endcomment -%}

<div class="timeline container-fluid">

    {%- comment -%}<!-- printing HTML top and bottom arrows --> {%- endcomment -%}
    {{html_top_and_bottom_arrows}}

    {%- comment -%}  <!-- resetting the html variable --> {%- endcomment -%}
    {%- assign html_top_and_bottom_arrows = null -%}

    {%- comment -%}<!-- printing content of the next thing --> {%- endcomment -%}
    {{ content }}

    <div class="row g-sm-6">

        <div class="col-12 col-sm-5 col-lg-4">
            <div id="side_index" class="row">
                <div class="side_index_content">
                    <ul>
                        <li>
                            {%- if page.title -%}
                            <h1 class="page-heading">{{ page.title }}</h1>
                            {%- endif -%}
                        </li>

                        {%- comment -%}<!-- printing HTML index post list --> {%- endcomment -%}
                        {{ html_post_index_list }}

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-7 col-lg-8 g-0">
            <ul class="post-list">

                {%- comment -%}<!-- printing HTML post list --> {%- endcomment -%}
                {{ html_post_list }}

            </ul>
        </div>

    </div>

    <div class="dates">

        <br>

        {%- if page.date_of_creation -%}
        <span class='date date_of_creation'> {{ page.date_of_creation }} </span>
        {%- endif -%}

        <br>

        {%- if page.date_of_modification -%}
        <span class="date date_of_modification">
        {{  date_of_modification_short }}
        </span>
        {%- endif -%}

    </div>

</div>
{%- comment -%}<!-- LIQUID POST-PROCESSING -->{%- endcomment -%}

{%- assign html_post_index_list = null -%}
{%- assign html_post_list = null -%}
{%- assign posts = null -%}
{%- assign date_of_modification_short = null -%}

{%- comment -%}<!-- END OF LIQUID POST-PROCESSING -->{%- endcomment -%}