#links
{
  margin-left: 30%;
  margin-right: 30%;
  font-family:"Helvetica Neue",sans-serif!important;
  text-align: center !important; /*I got sick of searching why ... will use Bootcamp or something else at some point*/	
}

#links .page-heading
{
  color:#00b8ff;
  text-align: center;
}

#links H1
{
  color:#00b8ff;
  text-align: center;
}

#links a
{
	text-decoration:none;
}

#links a div:hover
{
  /*transform: scale(1.02);*/
  transform: scale(0.97);
  box-shadow: 2px 2px 2px #00b8ff;

}

#links a div
{
 transition: all .2s ease-in-out;
/* background-color:black;*/
 border-radius:50px;
 padding:20px;
 margin:10px;
 text-align:center;
 box-shadow: 2px 2px 2px grey;
 color : white;
 font-weight: bolder;
}

#links #Steam
{
	background-color:#171A21 ;
}

#links #Github
{
	background-color:#272B33 ;
}

#links #Nexus
{
	background-color:#D98F40 ;
}

#links #Reddit
{
	background-color:#FA4400 ;
}

#links #Tumblr
{
	background-color:#001935 ;
}

#links #Twitter
{
	background-color:#1DA1F2 ;
}

#links #LinkedIn
{
	background-color:#0077B5 ;
}

#links #Twitch
{
	background-color:#9147FF ;
}

#links #about_me_link
{
	text-align: center;
}


#links #about_me_link a
{
	color : #00b8ff;
/*	background-color: #00b8ff;
	border-radius: 10px;
	padding: 10px;*/
}

#links #version
{
	color : grey;
}

#links .text_gray
{
	color:gray;
}

#links .text_centered
{
	text-align: center
}
